[2017-02-22 12:38] kuuurt13 opened #1 "Issues with AOT Compiler in Angular CLI"
When using AOT compiler in Angular CLI it throws the following exception:
[code]

[2017-02-23 15:15] shuryyy commented on #1
Same here :(

[2017-02-23 15:32] kuuurt13 commented on #1
@shuryyy I have found an article on getting libraries ready for AOT. I hope to have a fix for this soon. https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.7xjmfhv64

[2017-02-25 05:01] kuuurt13 commented on #1
524d976e24a9408e46a51e7f079a42def90afd89 (v0.2.0) adds AOT support. Changes have been tested with Angular CLI AOT compilation.

[2017-02-26 20:55] kuuurt13 opened #2 "Expose BlockUI interface type for BlockUI decorator"
## Idea
Currently there is no type interface associated with the BlockUI decorator. This forces the user to set it to type `any` or set `"noImplicitAny": false` in their tsconfig.json file. There should be a type exposed that the user can use to avoid this.

## Proposal
Expose a `NgBlockUI` interface type for the user to use with `@BlockUI()`. This interface will also support intellisense for supp

[2017-02-26 21:12] #2 closed

[2017-02-26 21:36] kuuurt13 opened #4 "Add a Component for app wide blocking as an alternative to the current Directive"
## Idea
Currently you can only add blocking to your app via the `*blockUI` directive. This typically needs to be added to an element which forces the user create an extra useless element.

## Proposal
Add a `block-ui` component to be used for adding app wide blocking and keep the `*blockUI` directive for element blocking. This would allow for a cleaner syntax and avoid wrapping whole app in an ext

[2017-02-26 23:32] #4 closed

[2017-02-27 11:14] shuryyy commented on #1
Hi @kuuurt13  I tested it with angular-cli 1.0.0-rc.0 And I still have an error.

I also have a warning

32:50-59 "export 'NgBlockUI' was not found in 'ng-block-ui'

Strang because I can see the export in your index.ts ...

[2017-02-27 11:16] shuryyy commented on #1
Here is the complete error

[2017-02-27 12:54] kuuurt13 commented on #1
@shuryyy I just tested again by creating a fresh app with angular-cli and it was compiling for me. Can you run `npm list @angular/cli @angular/compiler-cli` and let me know what versions you are on? I'm currently on these versions `@angular/cli@1.0.0-beta.31 @angular/compiler-cli@2.4.8` and that seems to work fine.

As for the `export 'NgBlockUI' was not found in 'ng-block-ui'` warning I think thi

[2017-02-27 13:14] kuuurt13 commented on #1
@shuryyy sorry I over looked that you said you are on **1.0.0-rc.0**. I will upgrade and see if I run into any issues.

[2017-02-27 15:37] kuuurt13 commented on #1
@shuryyy I just updated angluar-cli to **1.0.0-rc.0** and ran `ng serve --aot` (I think it does aot by default but added the flag to be sure). Everything compiled for me and  the app came up fine. Below is my setup:

**app.module.ts**
[code]

**app.component.ts**
[code]

This was with creating a brand new app with `ng new`. If your app was on an older version of the cli and you updated, maybe ther

[2017-02-27 20:43] shuryyy commented on #1
Re @kuuurt13,

So I just did the same but with the option ng new project  --ng4. And this is the issue I think...
I'm using the RC of angular 4 for the rest I have the same code as you.
Here is the package.json generated by a-cli.

`{
  "name": "project",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test"

[2017-02-28 02:12] kuuurt13 opened #6 "Add Angular 4.x Support"
## Issue
Currently there is no support for 4.0, see #1. At the moment, Angular is on 4.0.0-RC.1 and 4.0.0 final is scheduled to officially release on [2017-03-22](https://github.com/angular/angular/blob/master/docs/RELEASE_SCHEDULE.md). Unfortunately, building ng-block-ui for 4.x is not backwards compatible with 2.x.

## Proposal
Since the official release is a few weeks off and it will take a whi

[2017-02-28 03:05] kuuurt13 opened #7 "Warning when using NgBlockUI type for BlockUI Decorator"
## Issue
A warning is thrown when using the `NgBlockUI` type with angular-cli.

[code]

32:50-59 "export 'NgBlockUI' was not found in 'ng-block-ui'

I tested with a different angular app using just a webpack build process and did not see any warnings. This issue seems to be related to https://github.com/angular/angular-cli/issues/2034. Needs research.

[2017-02-28 03:21] kuuurt13 commented on #1
@shuryyy, I currently wasn't supporting 4.x but I just added support, see #6 for details. Can you try testing your 4.x app after running `npm install ng-block-ui@next`? This should get the beta version I published on npm that has support for 4.x. I tested it with a new angular-cli app using the ``--ng4`` flag and it seems to be working fine.

Since this issue was originally for AOT compiling targe

[2017-02-28 03:21] #1 closed

[2017-02-28 10:14] shuryyy commented on #6
Hi @kuuurt13 working for  4.0.0-RC.1.

Thanks !!

[2017-02-28 13:39] kuuurt13 commented on #6
@shuryyy, good to hear! If you have any other problems, feel free to open a new issue.

[2017-02-28 13:39] #6 closed

[2017-03-03 03:53] kuuurt13 commented on #7
I am no longer seeing this issue after switching the tsconfig module to 'commonjs'. Closing

[2017-03-03 03:53] #7 closed

[2017-03-08 23:03] dpdragnev opened #8 "Getting 403 when loading the component"
Hello,

Here is my main module:
`import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';

import { BlockUIModule } from 'ng-block-ui';

import { AppComponent } from './components/app.component/app.component';

@NgModule({
	imports: [
		BrowserModule,
		BlockUIModule
	],
	declarations: [
		AppComponent
	],
	providers: [],
	entryComponents: [],
	bootstrap

[2017-03-09 00:47] kuuurt13 commented on #8
Hey @dpdragnev, can you give me a little info on your setup? As in what are you using to build your app like webpack, angular-cli, etc? The reason I ask is because this may be a issue with your setup. If you can give me some more info that would help me narrow down the issue.

[2017-03-09 02:12] dpdragnev commented on #8
I suspect that you are right, but I cannot figure out what I am missing.

Index.html: just the head
`<head>
	<title>App</title>

	<base href="/">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnG

[2017-03-09 02:12] dpdragnev commented on #8
sorry,  I am not sure why the formatting is so messed up.  Kind of hard to read.  Let me know if you want me to send you the whole files.

[2017-03-09 02:32] kuuurt13 commented on #8
@dpdragnev No problem, I fixed the formatting for you in your comment. With code blocks you normally need to add ``` instead of ` to get it to format nicely.

Thanks for the extra info. Looks like you are using systemjs which I currently don't have support for but I have been meaning to look into. Give me a few minutes and I will try to put together a PR with something that should work for you.

[2017-03-09 03:27] dpdragnev commented on #8
Thanks @kuuurt13 .  I really appreciate your quick responses and help.

[2017-03-09 03:59] kuuurt13 commented on #8
@dpdragnev, I just merged #9 which should add systemjs support. I also published a new version to npm `ng-block-ui@0.3.2`. Please update your ng-block-ui version to **0.3.2** in your app. Once you have the latest version you will need to make some changes to your  **system.config.js**  file, see below.

**Updates:**
* Updated your 'map' to point to the ng-block-ui umd bundle
*  Add ng-block-ui to

[2017-03-09 04:12] dpdragnev commented on #8
Awesome.  Thank you so much.  I will get this done in the morning and will report back.

[2017-03-09 15:12] dpdragnev commented on #8
@kuuurt13 After following your instructions, everything worked as expected.  Thank you for your quick response.

[2017-03-09 15:12] #8 closed

[2017-03-09 17:54] dpdragnev opened #10 "Provide default text"
This is more of a question than an issue.

Is there a way to provide a default text?  I would like to be able to do this.blockUI.start(); and see Processing...Please Wait!

Thank you.

[2017-03-09 20:03] kuuurt13 commented on #10
@dpdragnev currently there isn't a way to do this. I have wanted to add this in as a feature but have been trying to think of the best way to implement it from a usability stand point. What I was thinking would be something like this for now:

[code]

Then if you were to call `this.blockUI.start()` it would show the default message and if you were to explicitly pass a message `this.blockUI.start('

[2017-03-09 20:44] dpdragnev commented on #10
I like this idea.  This way the user can inject this message from their config service.

[2017-03-09 20:53] kuuurt13 commented on #10
@dpdragnev sounds good to me. I will try to work on this tonight after I get out of work and let you know.

[2017-03-09 21:24] dpdragnev commented on #10
Great.  Thanks @kuuurt13

[2017-03-10 01:33] kuuurt13 commented on #10
@dpdragnev I have merged #11 and published `ng-block-ui@0.4.0` to npm which adds the ability to set a default message. As I mentioned in my proposal above, you just need to add the `[message]` attribute to the `block-ui` component and it will use that by default if no message is passed to `this.blockUI.start()`.

[2017-03-10 01:33] #10 closed

[2017-03-10 04:49] dpdragnev commented on #10
Awesome.  Thanks man.  Appreciate all the work you put in into this project.

On Thu, Mar 9, 2017 at 5:33 PM, kuuurt13 <notifications@github.com> wrote:

--
*Daniel Dragnev*, MCP, MCSD
*iSolutions LLC*
Office: (702) 874-8447
Cell: (702) 273-7609
DanielD@iSolutionsCo.com
www.CasinoScheduling.com

[2017-03-10 15:11] dpdragnev commented on #10
Just tested it and it works awesome.

[2017-03-10 15:33] kuuurt13 commented on #10
@dpdragnev no problem, good to hear it's working for you :+1:

[2017-03-15 01:25] kuuurt13 opened #12 "Add Documentation"
### Needed Documentation:

#### Features
- [x] ~~*Component:* Default message~~ (e51584d3fd06ff96460654afd36eedcecd8b7606)
- [x] ~~*Directive:* Blocking out element~~ (#15)
- [x] ~~*Instance:* Explain reset method (dependent on directive docs)~~ (be58d9331b1c4d237d96fbf6b507f88142197388)

#### Build/Compile
- [x] ~~*Systemjs:* How to use with Systemjs~~ (#14)

[2017-04-13 06:37] seawenzhu opened #16 "How to customize the loading css"
How to customize the loading css

[2017-04-13 22:33] kuuurt13 commented on #16
@seawenzhu if you just are trying to customize the color, opacity, etc, then you can easily overwrite the css styles. I anticipated that people would want to override the styles so I made sure to use `encapsulation: ViewEncapsulation.None` on the spinner component. To override the styles you just need to either add the styles to your main app styles or add them in any separate stylesheet. I have i

[2017-04-19 00:21] kuuurt13 commented on #16
@seawenzhu I'm closing this for now, if you have any more questions on this then feel free to open it back up.

[2017-04-19 00:21] #16 closed

[2017-04-23 22:28] #12 closed

[2017-04-24 07:03] KJcBahia opened #17 "*blockUI directive not working on IE and Edge Browser"

[2017-04-24 13:07] kuuurt13 commented on #17
@KJcBahia I will take a look and see if I can come up with a fix.

[2017-04-25 02:29] kuuurt13 commented on #17
@KJcBahia 96a3373 should address the issue you are seeing with IE. If you could please pull down the latest version from npm and let me know if that fixes the issues you are seeing. Thanks.

[2017-04-25 05:29] KJcBahia commented on #17
@kuuurt13 Good day! Thanks for a quick response. It is now working. Thanks :+1:

[2017-04-25 13:36] kuuurt13 commented on #17
@KJcBahia, no problem. Glad to hear it is working for you now. Closing this issue.

[2017-04-25 13:36] #17 closed

[2017-04-25 13:46] KJcBahia opened #18 "Creating one service for all registration and blocking"
Hi. I would also like to know how to implement this. If I have a lot of components to block, I would declare it in every component I would like to use it (eg: @BlockUI('block') block: NgBlockUI;) I want to create a service that would do the registration for me and that also controls the start and end of the blocking based on the name I gave it. From what I've read, decorators are only declared cla

[2017-04-25 15:15] kuuurt13 commented on #18
@KJcBahia so I think I am following you. You want to block multiple components at once and you are looking to abstract starting/stopping blocking methods out into a service. That service can then be passed a `NgBlockUI` instance name and it can be used to start/stop blocking for all those components with a single method call? Let me know if that sounds right, if that is the case then that should b

[2017-04-25 17:12] fatespinosa commented on #18
Hi @kuuurt13, I think what he was saying was instead of importing the BlockUI and NgBlockUI in all of components that will use it, why not just create a service that registers an instance and at the same time, the service can be called to start and stop the blocker.

Something like this

void registerInstance(instanceName: string){
if(!container[instanceName]){ // container is the list of BlockUIs

[2017-04-25 20:09] kuuurt13 commented on #18
@fatespinosa I see what you are saying now. The service the decorator currently uses behind the scenes does something similar to this except with observables. The decorator is just syntactic sugar used to wire a variable up to specific instances so you don't have to specify the instance name each time you want to start and stop blocking. I can see the value in exposing a service that would allow y

[2017-04-26 05:28] KJcBahia commented on #18
@kuuurt13  Thanks kurt. That is what i am trying to say. Looking forward to this :+1:

[2017-04-26 07:51] fatespinosa commented on #18
@kuuurt13 Thanks a lot! I'll make sure to recommend this one to my co-developers after the update :)

[2017-04-28 19:07] kuuurt13 commented on #18
@KJcBahia @fatespinosa I just finished a prototype for the new service. Below is a quick outline of the service and here is a [plunker](https://embed.plnkr.co/z41cgz/?show=app.component.ts,preview) that is pointed to a branch that has the new service.

The service allows you to pass an instance name to the start/stop methods to target specific instances. I also added the ability to pass an array o

[2017-04-30 10:07] fatespinosa commented on #18
@kuuurt13 this is perfect! Exactly what I am looking for! Kudos for your effort and openness for this improvement :) 👍

[2017-05-01 00:41] kuuurt13 commented on #18
@fatespinosa no problem! I will wait to hear back from @KJcBahia and if all is good then I will merge my changes in.

[2017-05-01 05:40] KJcBahia commented on #18
Good day @kuuurt13. This is great. Thanks for your time and effort. :+1: Looking forward applying this to our project. Thanks :)

[2017-05-01 13:11] kuuurt13 commented on #18
@KJcBahia great. I will get this merged in when I get out of work tonight and I will publish a new version to npm.

[2017-05-02 01:38] kuuurt13 commented on #18
@KJcBahia @fatespinosa #19 has been merged and I released a new version to npm with the changes. I am now closing this issue. Thanks again for the input and I hope this will be a useful feature for you two and everyone else.

[2017-05-02 01:38] #18 closed

[2017-05-02 05:16] KJcBahia commented on #18
I will try it now. Thanks again kurt. :+1:

[2017-05-02 14:10] Ludevik opened #20 "Custom template"
Hey Kurt,

is there a way how to use custom template with block ui? We would like to show some image & some spinner while loading.

L

[2017-05-02 21:57] kuuurt13 commented on #20
Hey @Ludevik, unfortunately there currently isn't a way to set a custom template but I have wanted to add this functionality for awhile now. The biggest hurdle for me is how I would expose this functionality in the library. In AngularJS this would be pretty straight forward, I would just have the user pass a template url string to the BlockUI component/directive and then use that url in a [ngInclu

[2017-05-03 06:47] Ludevik commented on #20
@kuuurt13 maybe you could check how NG Bootstrap works. For example the [modal dialog](https://ng-bootstrap.github.io/#/components/modal) open function. It takes either TemplateRef as a parameter or Component type.

[2017-05-03 09:39] kuuurt13 commented on #20
@Ludevik this looks promising. Let me take a further look and see if I can come up with a POC for this. Thanks for the suggestion :+1:

[2017-05-04 02:40] kuuurt13 commented on #20
@Ludevik so I finished a first pass at a POC for allowing custom templates components to be passed to the `BlockUI` component. I have it pushed to a branch and have created a [plunker](https://embed.plnkr.co/yKzufz?show=block-template.component,app.component.html,preview) with an example.

I still need to look into how to pass a template as an TemplateRef but I think it should be fairly similar. I

[2017-05-04 06:26] Ludevik commented on #20
Looks good :) :+1:

[2017-05-07 21:47] kuuurt13 commented on #20
@Ludevik I have merged the changes to support custom templates and published a new version to npm. You can now pass either a Component or a TemplateRef to the `blockUI` component and it i will use that template instead of the default. I have updated the documentation to cover this so refer to that for more detail. If you have any issues feel free to open an issue. Thanks again for the input on how

[2017-05-07 21:47] #20 closed

[2017-06-06 09:53] tytskyi opened #24 "Proposition: add debounce option for blockUI.stop() method"
Currently if i block/unblock on request-response scenario, when response happens too fast, then block-ui effect looks like page blinking.

Proposition is to add debounce timing option via method parameter or provider

[2017-06-06 13:02] kuuurt13 commented on #24
@tytskyi this seems like a good idea, thanks for the feedback. Let me look into this and see if I can come up with a POC.

I like the idea of passing it to the method potentially like so `stop({ debounce: 500 })`. I'm also thinking that we can pass a default debounce to the component like so `<block-ui [debounce]="500"></block-ui>`. Then it will use that unless the `stop` method overrides it. Let

[2017-06-07 02:38] kuuurt13 commented on #24
@tytskyi after thinking about this, I think we might want to add the debounce to be on start rather than on stop. If we were to take the request/response scenario as an example then I think it would be better to wait to show blocking than wait to stop blocking.

For example, if we were to set debounce to `250ms` and the request takes `200ms` then the UI wont be blocked if we debounce on start. If

[2017-06-08 16:34] mttwise opened #25 "Unable to set different styles on multiple blockui objects in the same app"
I was able to set styles through the global styles.css file as per the plunkr example; however, i would like to have different styles multiple block-ui items in my app.  The reason for this is that some components have different colors/backgrounds and dont look good with the same spinner style.

I tried creating a css class that sets the block-ui-wrapper background color and added it to a div with

[2017-06-08 17:19] kuuurt13 commented on #25
Hey @mttwise, this should be possible. You should be able to target each instance by adding a class and target that class with CSS. I'm not sure why you are having issues. If you have the directive on a component you created and you are using a global stylesheet you might want to check the components [ViewEncapsulation](https://angular.io/docs/ts/latest/api/core/index/ViewEncapsulation-enum.html)

[2017-06-08 19:49] mttwise commented on #25
@kuuurt13, Thanks so much for the advice.  The issue ended up being that i needed to set my ViewEncapsulation to None.  The plunkr helped out a lot to see how to properly set the css.

Its working perfectly now!

[2017-06-08 19:49] #25 closed

[2017-06-08 23:30] kuuurt13 commented on #25
@mttwise, no problem. Good to hear, glad you figured it out :+1:

[2017-06-11 22:15] tytskyi commented on #24
@kuuurt13 sorry for long silence. This proposition seems as better UX if response time would always be shorter. Imagine that debounce is `250` and response is `252` - it will block and immediately unblock, which will look like page blinking. Or i misunderstand your example?

Now i think that more reasonable is the minimal unblocking time, not necessary controlled per methods. And we do not need to

[2017-06-15 14:43] kuuurt13 commented on #24
@tytskyi no problem, I have been tied up a bit the past few days as well. I see what you are saying and your point is valid. This is a tough thing to address in my opinion.

My point of view is coming from what I have dealt with before when I have used another blocking library and they have the delay (debounce) on the start and not on the end see [angular-block-ui](https://github.com/McNull/angula

[2017-07-04 13:15] EduardoSouzaDF opened #26 "Warning Template parse warnings"
First, thanks for ng-blobk-ui, it's very simple, cool and useful, but  its have warnings in console:

im using:
@angular/cli: 1.0.0
node: 7.8.0
os: win32 x64
@angular/common: 4.2.5
@angular/compiler: 4.2.5
@angular/core: 4.2.5
@angular/forms: 4.2.5

the warning is:
The <template> element is deprecated. Use <ng-template> instead ("
    </div>
  </div>
  [WARNING ->]<template *ngIf="templateCmp" #te

[2017-07-04 17:18] kuuurt13 commented on #26
Hey @EduardoSouzaDF, glad to hear you like the library. I think this issue has to do with using `template` instead of `ng-template`. I checked the latest [code](https://github.com/kuuurt13/ng-block-ui/blob/1.0.0-beta/lib/components/block-ui-content/block-ui-content.component.template.ts#L9) and the npm package and it looks like if you are using `1.0.0-beta.10` then you shouldn't be seeing the issu

[2017-07-11 12:00] hnguyenec opened #27 "Using custom template with blockui directive"
In a container template, i used blockui directive to a specific div.
In another service, I used blockui service to trigger start even manually

However i dont know how to use custom template along with blockui directive, so that when Start event is triggered, it will use custom template instead of the default one

[2017-07-11 15:34] kuuurt13 commented on #27
Hey @hnguyenec, you previously couldn't pass a custom template to directives (only to the `block-ui` component) but I just implemented this feature so you should be able to use a custom template. If you get the newest version (`0.8.0`/`1.0.0-beta.11`) it will allow custom templates to be passed to the directive.

For structural directives extra inputs are passed in a different way. You will need t

[2017-07-11 23:47] hnguyenec commented on #27
it works great.
Thanks for your updates and prompt response

[2017-07-11 23:47] #27 closed

[2017-07-19 13:04] Slapshot9 commented on #24
I would vote the a minimal unblocking time like @tytskyi mentioned.
You can configure how long the block-ui has to be visible at least.
If the request is faster, keep it visible.
If the request is slower, hide it immediately on response.
This will still have the downside of potentially show the block-ui longer then necessary.
But that would only account for extreme fast requests.
Because of this,

[2017-07-19 13:30] kuuurt13 commented on #24
@Slapshot9 thanks for the input. I will add both a start and end delay option so whoever is using the library can set it to their needs. I started working on adding these options but still need to finish some changes. I have been tied up with other things lately so this got pushed back sorry about that. I should be able to finish this up this weekend if I get the chance :crossed_fingers:

[2017-07-19 13:33] kuuurt13 commented on #26
Hey @EduardoSouzaDF, any update on this? Just wanted to know if you figured your issue out so I can close this. Thanks.

[2017-07-23 18:39] kuuurt13 commented on #24
@Slapshot9, @tytskyi
I have added settings to allow for a delay to be added to the start and end of blocking (https://github.com/kuuurt13/ng-block-ui#delay-start-and-stop). Please see this [plunker](https://embed.plnkr.co/PbN3DM?show=app.compontent.html,preview&autoCloseSidebar) for an example and let me know if this works for both of you and if you have any questions or concerns.

[2017-07-23 18:40] kuuurt13 commented on #26
Closing for now since it has been a few weeks. If you still have the issue re-open this or create a new ticket. Thanks.

[2017-07-23 18:40] #26 closed

[2017-07-27 13:56] marwanhyouness opened #28 "BlockUI karma test failure"
The BlockUI is failing the test cases it's used in as it can't be instantiated
[code]

[2017-07-27 19:43] kuuurt13 commented on #28
@marwanhyouness not sure what is going on here. Currently all tests are passing for both currently released versions of the library on the [build server](https://travis-ci.org/kuuurt13/ng-block-ui/builds). Can you maybe give me more info into what you are trying to test and let me know what version you are using by running `npm list ng-block-ui`. Thanks.

[2017-07-30 08:54] marwanhyouness commented on #28
@kuuurt13
Thanks for the reply. I'm using v 0.8.0. My test just checking if the component was initiated properly.
here is the code

import { TestBed } from '@angular/core/testing';
import { RouterTestingModule } from '@angular/router/testing';
import { ReactiveFormsModule } from '@angular/forms';
import { ToastrService } from 'ngx-toastr';
import {
    ApiService,
    ApplicationService,
    Messa

[2017-07-30 13:15] kuuurt13 commented on #28
@marwanhyouness thanks for more details. I take it that you have either the block-ui component or directive in the template of your `RegisterComponent`? If so then I think you need to uncomment `import { BlockUIModule , NgBlockUI } from 'ng-block-ui';` Then you need to add the `BlockUIModule` to your `configureTestingModule` imports. I think that should fix your issue. Let me know if that works.

[2017-08-07 15:58] ddorigo opened #29 "More messages on custom template with blockui directive"
In the custom template configuration I have two messages to be updated.
 One that describes the current progress and another with the percentage number.
Currently I can update only a message string.
I tried also to get access to the custom component; but without success.

[2017-08-07 16:14] kuuurt13 commented on #29
@ddorigo I think I am following your issue. Currently I don't think this would be possible within the library since you can only pass a single string to the message like you said. Let me look into this and try to get back to you with a possible solution to allow for this scenario when using the library.

[2017-08-08 07:07] ddorigo commented on #29
The only solution I found was to pass a number as message and compare in the template div sections using *ngIf I set different messages. It works but cumbersome.

[2017-08-09 00:12] kuuurt13 commented on #29
So I looked into this and I think the fix would be to pass an object as the message so in your case message would be `{ progress, percentage }` and then in the view you would access them. I created a branch of the library that changes message from `string` to `any` to allow for this. I created this [plunker](https://embed.plnkr.co/ACBGxgoWveb62r75nvyB?show=block-template.component.ts,preview&autoC

[2017-08-09 06:48] ddorigo commented on #29
Really nice. I think it makes the library very flexible. Thanks.

[2017-08-09 06:48] #29 closed

[2017-08-10 12:21] kuuurt13 commented on #24
Closing this assuming that this feature works for everyone. Please reopen if need be.

[2017-08-10 12:21] #24 closed

[2017-08-10 13:24] jamesfe opened #30 "Stop method does not seem to work"
I am noticing that whatever the first call to my instance of blockUI works but subsequent calls do not.  This means I can start blocking but cannot stop (obviously a problem).  I feel like this might be user error but am unsure - my project uses angular 4.3.2, ng-block-ui beta 12 and material 2.0.0-beta8 among other things.

Is there more information I can provide or have you run into this problem

[2017-08-10 13:45] kuuurt13 commented on #30
@jamesfe, hmm not sure what is going on. I have implemented a delay setting to the library for starting/stopping so maybe it could be a bug there. All my tests are passing but there still could be a bug.

First thing you can do is to roll back the library before those changes for the time being and see if it fixes your issue. Can you run `npm install ng-block-ui@1.0.0-beta.11` and then test to see

[2017-08-10 14:45] Oleg1969 opened #31 "beta.13 after npm install module contain just metadata.json files."
After installing latest @next version (beta 13) "dist" folder contains only metadata.json files.
Resulting to error:  Cannot find module 'ng-block-ui'.

[2017-08-10 14:47] ddivita commented on #31
Just noticed this myself

[2017-08-10 15:16] kuuurt13 commented on #31
@Oleg1969 @ddivita it looks like it was a bad npm build ☹️ . Really sorry for that. Please install with the `@next` tag to get beta 14 and it should be fixed. Sorry for any inconvenience.

[2017-08-10 15:19] jamesfe commented on #30
Thanks for such a quick response - and for this library too!  It's tough maintaining open source code :)

I think the error might be on my side but I'm not sure.  I can't get a plunker to break, but I also do not know how to specify all the library versions on the plunker.  Here is one that works but I can't set the npm package versions on: https://plnkr.co/edit/P8JSeOlGwcsqRk4DEHhJ

Below are my

[2017-08-10 15:21] Oleg1969 commented on #31
it works now. thanks

[2017-08-10 15:32] ddivita commented on #31
Confirmed. Thanks

On Thu, Aug 10, 2017 at 11:21 AM, Oleg1969 <notifications@github.com> wrote:

[2017-08-10 15:37] jamesfe commented on #30
Actually I am finding that in debugging there are some variables which are set to undefined at the time when the `update` call is sent (after the `start` call).

Specifically this: https://github.com/kuuurt13/ng-block-ui/blob/ab1a1eb1d38046523d5aab45f31549f84ecb3016/lib/components/block-ui-content/block-ui-content.component.ts#L69 is set only conditionally but the template cannot be updated if it

[2017-08-10 23:33] kuuurt13 commented on #30
@jamesfe I got some time to look at your plunker. I could be wrong but it looks like you are just trying to toggle the start and stop from a child component, is that correct? If so I think you are over complicating it a bit in this example which makes me think that the issue in your local repo might have something to do with your approach.

Any variable declared with the `@BlockUI()` decorator alw

[2017-08-10 23:33] kuuurt13 commented on #31
Closing since this looks to be good now.

[2017-08-10 23:33] #31 closed

[2017-08-11 15:33] jamesfe commented on #30
@kuuurt13 Well I discovered this little gem sitting in my (our) code: https://plnkr.co/edit/7lumJNrwYUbpMM1D70jU - it looks like I have some work to do on my side but I believe if I remove this, it'll probably fix my "issue".  Thanks for your time, hopefully this is of some use to you.

[2017-08-11 20:48] kuuurt13 commented on #30
@jamesfe oh wow so it looks like it has to do with `changeDetection: ChangeDetectionStrategy.OnPush` being on the parent component and using a timeout. If the stop is called in the app component it works [though](https://plnkr.co/edit/ooSLD1wyvVmEY1NiOREh?p=preview) 😕 . I would have to debug more to see what angular is doing behind the scenes here. I quickly googled it and found this [article](htt

[2017-08-11 20:50] jamesfe commented on #30
Yes, it was quite the "punch myself in the face moment" - I will get further into this next week when I am back at my other computer.

[2017-08-15 13:56] kuuurt13 commented on #28
@marwanhyouness  any update on this?

[2017-08-23 19:41] kuuurt13 commented on #28
Closing, for now. Please reopen if you are still having issues.

[2017-08-23 19:41] #28 closed

[2017-08-25 10:18] nerumo opened #33 "Change Detection OnPush"
the BlockUIContent component should call `changeDetector.markForCheck()` on `onDispatchedEvent`.

If you have a component tree that is completely `OnPush`, then you don't always get the update

[2017-08-25 16:43] kuuurt13 commented on #33
@nerumo this is great insight, I appreciate it. This looks like it would fix the issue we were seeing with #30. I will look into this weekend and add in the changes if I can.

[2017-08-27 20:34] kuuurt13 commented on #30
@jamesfe I just put in a change for #33 and It looks like it will fix the issue you were seeing when using `changeDetection: ChangeDetectionStrategy.OnPush` . I pushed a new version and tested the [plunker]( https://plnkr.co/edit/7lumJNrwYUbpMM1D70jU) you used to highlight the issue earlier and it seems to fix the issue. Take a look and let me know.

[2017-08-27 20:38] kuuurt13 commented on #33
@nerumo so I tried adding `changeDetector.markForCheck()` but it still was not picking up some of the changes so I had to call `changeDetector.detectChanges()` whenever a block event was dispatched and it worked. I tested it with the specific issues we were seeing (see issue #30) and it fixed them. Could you please install the latest version of the library and see if it fixes the issues you were s

[2017-08-28 08:04] jamesfe commented on #30
Thanks!  I think this will work out.  Our team is using a method called "FRP" so we are avoiding emitting events and use Observables all over.  I'm new to it (and Angular, even JS to a degree) so I think it was probably more error on my side than anything.  Either way, I really appreciate all the help you've provided!!

[2017-08-28 13:15] kuuurt13 commented on #30
Okay, no problem. I'm going to close this issue then.

[2017-08-28 13:15] #30 closed

[2017-08-31 16:38] nerumo commented on #33
thanks, I can confirm that it works now

[2017-08-31 16:40] nerumo opened #34 "angular 4 compatibility"
I you build with ng 4 and AOT enabled, you get this warning.

[code]
would be nice to upgrade this lib to ng 4 to avoid this warning. tnx

[2017-08-31 16:44] kuuurt13 commented on #33
Good, to hear 👍

[2017-08-31 16:44] #33 closed

[2017-08-31 16:55] kuuurt13 commented on #34
@nerumo this library is already compatible with ng 4. Please see https://github.com/kuuurt13/ng-block-ui#installation. The versions are split currently because ng 4 has a different way of doing AOT compiling so I need to have 2 version to stay compatible with both ng 2 and 4. When ng 5 comes out I plan on moving this library to `1.0.0` and dropping support for 2. Ng 5 AOT compiling should be backw

[2017-09-02 06:05] nerumo commented on #34
@kuuurt13 sorry, I missed that. tnx

[2017-09-02 06:05] #34 closed

[2017-09-15 19:34] epaitz opened #35 "A button to custom template"
Is it possible to add a button to a custom block template? I have been following the example code and I was able to get a custom template created with a cancel button inside the block-template.component.html.

`<button type="button" (click)="cancel()"></button>`

block-template.component.ts.

`cancel() { console.log('cancel()'); }`

Now I am getting a tslint error on the following line.

`blockTem

[2017-09-15 20:06] kuuurt13 commented on #35
@epaitz it is tough to solve your issue 100% without having a more code to look at. With that being said I created a [plunker](https://embed.plnkr.co/rZXnS0mMCRc4rGX3w9VV/?show=block-template.component,preview&autoCloseSidebar) that has a custom template with a button that stops the blocking when clicked. Take a look at that and let me know if that helps you at all.

[2017-09-15 21:00] epaitz commented on #35
Thanks very much for the fast reply! I am looking at the plunker you posted now. I think the last piece is that the calling component, app component in this case, needs to be made aware the user has clicked the stop button so that it can stop the async work. In my scenario I have a component, with an injected service, that has started some async work using that service and if the user clicks stop/

[2017-09-17 14:54] kuuurt13 commented on #35
@epaitz I reworked the [plunker](https://plnkr.co/edit/NeWGai1h0tGZUKNg5kRB?p=preview) and added a service that is canceled when you click the cancel button. Let me know if this works for you.

[2017-09-22 14:59] tobecwb opened #36 "How to specify a custom template on a directive?"
So, like the title says, how to specify a custom template if I'm using a directive to block only certains elements?

I'm using the ng-block-ui to block my form if on ngInit() a error occur (when I ask with REST for some info, and this server is not available).

[2017-09-22 18:41] kuuurt13 commented on #36
@tobecwb Angular has a weird syntax for how to pass multiple attributes to structural directives. Here is a [plunker](https://embed.plnkr.co/USHJ3X?show=app.compontent.html,preview&autoCloseSidebar) that shows you how you can pass a custom template.

[2017-09-22 18:53] tobecwb commented on #36
Tks! worked good! never used directives in this way!

[2017-09-22 18:53] #36 closed

[2017-09-24 07:17] gamesgil opened #37 "There seems to be no way of creating a custom template to a directive"

[2017-09-24 17:40] kuuurt13 commented on #37
@gamesgil please see https://github.com/kuuurt13/ng-block-ui/issues/36 this should help you out

[2017-09-25 08:48] gamesgil commented on #37
Thank you very much for the quick answer! Indeed it does. However I didn't find a way to customize the blocking background without fiddling with the sources. Is there a way?

[2017-09-25 10:24] gamesgil commented on #37
Thank you very much for the quick answer! It worked.

[2017-09-25 12:38] kuuurt13 commented on #37
@gamesgil, good to hear! Closing this issue.

[2017-09-25 12:38] #37 closed

[2017-09-29 17:17] nrehm commented on #35
Have to hijack this issue a bit sorry.
Is it possible to add custom template with button to a section?

[2017-09-29 17:55] kuuurt13 commented on #35
@nrehm yes, you would just update the plunker above to use the directive instead of the component. Angular has a weird syntax for passing additional parameters to structural directives. Here is an updated version of the [plunker](https://plnkr.co/edit/GxdsOJBmfnMeDXOxuITv?p=preview) above. Also you can see this issue for more info https://github.com/kuuurt13/ng-block-ui/issues/36

[2017-10-19 08:22] Assdi opened #38 "is it work for automatic blocking for http request ?"
just like this [https://github.com/McNull/angular-block-ui](url)

[2017-10-19 12:52] kuuurt13 commented on #38
Currently, this hasn't been implemented but it is something I can explore as a feature for a future release.

[2017-10-24 15:23] kesdeband opened #39 "Prevent browser navigation for all http request"
Sorry, check out this link: https://github.com/McNull/angular-block-ui#blockbrowsernavigation

[2017-10-24 15:47] kuuurt13 commented on #39
Can you give more details on this and why you think this is needed?

[2017-11-01 18:34] kesdeband commented on #39
Check out this example: https://github.com/McNull/angular-block-ui#blockbrowsernavigation

[2017-11-06 18:33] eduardoleopoldino commented on #38
Is there a way to check if a instance is active? I have some keyboard shortcuts that I need to check if there's another action going. In this case, i want to check if BlockUI is active before triggering the action.

On your code, you have a *this.active* property inside *BlockUIContentComponent* that i believe would help. But you need to expose this property to @BlockUI decorator.. Or is there any

[2017-11-07 01:29] kuuurt13 commented on #35
@nrehm @epaitz can I close this issue or are any of you still having issues?

[2017-11-07 01:36] kuuurt13 opened #40 "Expose a way to check if block ui is currently active"
There should be a way to check if blockUI is currently active.

*Moved from #38*

[2017-11-07 01:56] kuuurt13 opened #41 "1.0.0 Release"
## 1.0.0 Release
I feel like this library has reach a good degree of stability over the past few months and I would like to push forward with a `1.0.0` release. This issue is to track of all the planned changes/tasks I would like finish before I officially release `1.0.0`.

Also, `1.0.0` will mark the end of Angular 2.x support. Angular 4.x had many breaking changes from 2.x and because of this I

[2017-11-07 01:58] kuuurt13 commented on #38
@eduardoleopoldino currently this isn't possible. This seems like something that should be added as a feature. I moved this over to issue #40 since this ticket is more about automatic http request blocking.

[2017-11-07 02:51] epaitz commented on #35
I accomplished what I needed a different way. Thanks for all the information. I am ok if you close it but I cant speak for @nrehm. Thanks.

[2017-11-09 10:22] RobPierce commented on #38
It would also be really neat, if implementing automatic http request blocking, to allow a request filter to turn off filtering for specific paths, as angular-block-ui does.

[2017-11-09 14:18] kuuurt13 commented on #38
@RobPierce I agree I will make sure to include this 👍

[2017-11-17 10:18] EduardsE opened #42 "Binding to element with a custom template doesn't work."
Basically I tried to merge **BlockUI Directive**  and **BlockUI Custom Template**, but I can't get it to work.

Here's the plnkr.
https://plnkr.co/edit/54n6SP?p=preview

[2017-11-17 13:45] kuuurt13 commented on #42
Please see #36. It has a link to a plunker example that will help you out. I am making a few changes to the library for a 1.0.0 release and it will allow a custom template to be configured on the BlockUIModule. That way you won't need to explicitly pass a template to the directive and it will just inherit it from the module.

[2017-11-17 16:47] EduardsE commented on #42
Oh, thx. Sorry, I forgot to check the old issues, only the open/current ones.

[2017-11-17 18:22] kuuurt13 commented on #42
No problem, glad I could help. Going to close this.

[2017-11-17 18:23] #42 closed

[2017-11-20 14:51] kuuurt13 commented on #35
Thanks @epaitz I'm closing then

[2017-11-20 14:51] #35 closed

[2017-11-22 10:13] kopach opened #43 "add option to track blocking/unblocking ui"
It would be great to have an option to "unblock" only if `stop()` function was called the same amount as `start()`

Example:

Suppose I have 3 async functions:

- loadUsers
- deleteUserFromList

Each of this function may be called independently, so each of it runs `blockUI.start()` on the beginning and `blockUI.stop()` on finish. Everything is fine, unless I want to make some of those operations i

[2017-11-22 10:55] kopach opened #44 "delayStart/delayStop for directive"
Is there any way to use `delayStart/delayStop` with `*blockUI` directive?

[2017-11-22 13:52] kuuurt13 commented on #44
You should be able to but after looking into it I found a bug. For some reason angular makes you namespace all other parameters for structural directives. I just need to namespace these inputs and it should work. I can try to release a fix by tomorrow morning.

[2017-11-22 20:26] kuuurt13 commented on #43
@kopach I can understand your problem here and I thank you for the example, it made it really easy to understand your issue. I can see how this can be a pain point but I'm not sure if your purposed solution should be included within this library. The reason being is that this could just be addressed by how you structure your code. What I would do is just use the RxJS `forkJoin` operator (it is ver

[2017-11-22 22:36] kopach commented on #43
@kuuurt13, thanks for your explanation. I can agree that in most of the cases such a solution will work, but not for all the cases. Let me show you on your  example:

[code]

So, it may be the situation, when `serviceOne` finished and stopped block UI, while `serviceTwo` is till running and expecting blockUI to be visible.

I understand, you may say - don't use blockUI inside `serviceOne` and `ser

[2017-11-22 23:31] kuuurt13 commented on #44
@kopach I got out of work early so I had time to fix this tonight. I released a new npm package with the fix, please update to `1.0.0-beta.16` for Angular 4.x and `0.9.3` for Angular 2.x. To pass multiple parameters to structural directives Angular makes you pass them like below
[code]

Also, here is a working [plunker](https://embed.plnkr.co/ezOdUwK2d4TRrBCNsAoK?show=app.compontent.html,preview&a

[2017-11-22 23:31] #44 closed

[2017-11-23 09:52] kopach opened #45 "delayStart/delayStop doesn't work as expected"
I would expect to use `delayStart` to prevent splashing of blockUI in case if async operation is very fast.
On the other hand `delayStop` I would use to prevent user from manipulating page after some async (e.g.REST call) was done, but page not yet refreshed.

But, in case I use both `delayStart` and `delayStop` plus multiple fast async operations - blockUi is not hiding.

Example:

[code]
and (he

[2017-11-29 11:53] tytskyi commented on #24
hi @kuuurt13 this is awesomely working. But i got a question.

Earlier you wrote:

Are you going to have this option?
Let me describe the user case - i want to have debounce normally, but if `ApiService` throws error (perhaps 404 etc) - i want to stop block UI immediately.
As for now i do have service that have field which is bound to `[delayStop]=`. What is bad with this - that my block ui is on

[2017-11-29 13:15] kuuurt13 commented on #24
@tytskyi I think I am following your problem here. In your case if you want to ignore the `delayStop` you can call `blockUI.reset()` on your instance and it will stop it without delay. When adding the `delayStop` option I made sure not to apply the delay to the reset method to account for these types of scenarios. Give that a shot and let me know if that fixes your issue.

[2017-11-29 16:25] kuuurt13 commented on #24
@tytskyi with that being said, in the future I think it makes sense to allow for settings to be passed to the stop/start methods to override any module or component/directive settings that would affect these methods. What do you think?

[2017-11-29 22:15] tytskyi commented on #24
@kuuurt13 thank you, this is what i need.

I could send PR:

Is target branch `1.0.0-release`?

[2017-11-29 22:57] kuuurt13 commented on #24
No problem @tytskyi, glad I could help.

That would be great! Yup, just open it on the `1.0.0-release` branch. Thanks 👍

[2017-11-30 13:41] kuuurt13 commented on #43
@kopach, I see where you are coming from on this. If this is a feature that a lot of users would find useful then I can look into implementing it. I'm currently working on a bunch of tasks for a `1.0.0` release of this library that includes a bunch of long overdue changes. Once I roll that out I can start looking into this more thoroughly.

[2017-11-30 13:58] kuuurt13 commented on #45
@kopach I will look into this

[2017-12-01 13:18] kopach commented on #45
@kuuurt13 thanks. and btw, thanks for this lib. It's very helpful and very cool ;) I was going to write something very similar to this for my project, but then I found this and saved my time 👍

[2017-12-14 20:11] yesparthasarathy opened #47 "Remove warning please"
Template parse warnings:
[code]

[2017-12-14 21:07] kuuurt13 commented on #47
@yesparthasarathy can you give me more info on this. Like maybe an example of how to reproduce the warning?

[2017-12-14 21:17] kuuurt13 commented on #47
@yesparthasarathy looks like you did include an example but the markdown was formatted weird and it wasn't visible. I updated your comment and added a code block to fix it.

As for that warning, I take it you are using Angular >= 4.x. If so you need to install the library with the `next` flag `npm install ng-block-ui@next --save`.  Please see the [installation](https://github.com/kuuurt13/ng-block

[2017-12-19 16:37] vodess opened #48 "Append custom template to body"
Hi,

Can you please implement a possibility to append custom blockUI template to body with correct position (above element with *blockUI directive)?

Suggestion of use:

`<div *blockUI="'myElement'; template: blockTemplate" appendTo="body">...</div>`

[2017-12-19 17:55] kuuurt13 commented on #48
I think this would be very big undertaking to accomplish. Currently, when you use the directive the overlay is added within the element so it can use css to position itself within the element in a relatively simple and uncostly manner. Adding it to the body would require extensive javascript and DOM manipulation to position the overlay. The overlay would have to calculate the position and size for

[2017-12-20 11:30] vodess commented on #48
I want it because when I have some other overlays, such as popovers or tooltips bound to body with absolute positions, they appear above blockUI template. In my opinion blockUI template is an element for which it has to be guaranteed that it's the topmost element in z-order.

[2017-12-20 20:59] kuuurt13 commented on #48
I understand where you are coming from but couldn't you just manipulate the z-index CSS to make the blockUI overlay the highest so then it overlays all the elements in the body? I was messing around with this locally and it seemed to work.

So something like
[code]

[2017-12-22 11:56] vodess commented on #48
I could not because my block UI template is bound to some lower element (e.g. <form>), and the popovers are direct children of body. That's why they're always above blocked form.

[2018-01-04 13:34] kuuurt13 commented on #48
I see, well if you want to take a shot at it PR are always welcome 👍

[2018-01-04 13:44] kuuurt13 commented on #47
@yesparthasarathy did that fix it for you?

[2018-01-19 13:15] davidsekar opened #49 "Angular universal - SSR issue"
Thanks for your efforts in bringing up this wonderful Block UI module.

Currently, following line throws error during Server Side Rendering using Angular universal
https://github.com/kuuurt13/ng-block-ui/blob/1bb0140178edd699fcaa976a720677a215e44db5/lib/directives/block-ui.directive.ts#L49

Would it be possible for you to may be use Renderer or Renderer2 and add the class name as following
`this.r

[2018-01-19 14:58] yesparthasarathy commented on #47
yes it got fixed..

[2018-01-19 14:58] #47 closed

[2018-01-21 18:23] kuuurt13 commented on #49
Hey @davidsekar, I updated the directive to use `Renderer2` and published the changes to npm in version `1.0.0-beta.17`. Please test and let me know if that fixes the issues you were seeing with Angular Universal.

[2018-01-22 01:07] Swellenator opened #51 "'message' is private and only accessible within class 'BlockUIContentComponent'"
With latest Angular 5.2, cli 1.6.5, ng-block-ui@next, I get the error

    ERROR in node_modules\ng-block-ui\dist\lib\components\block-ui-content\block-ui-
    content.component.d.ts.BlockUIContentComponent.html(5,60): : Property 'message' is private and only
    accessible within class 'BlockUIContentComponent'.
    node_modules\ng-block-ui\dist\lib\components\block-ui-content\block-ui-
    conte

[2018-01-22 13:35] kuuurt13 commented on #51
@Swellenator I will take a look at this tonight. Should be able to roll a new version with this change.

[2018-01-23 00:31] kuuurt13 commented on #51
@Swellenator please update to `1.0.0-beta.18` and see if that fixes your issue. Thanks!

[2018-01-23 12:47] davidsekar commented on #49
@kuuurt13 With the new beta release, this issue doesn't happen any more.

Thanks for a quick issue fix and beta release. 👍

[2018-01-23 13:15] kuuurt13 commented on #49
No problem. Closing the issue then 👍

[2018-01-23 13:15] #49 closed

[2018-01-24 08:49] Swellenator commented on #51
Yep cheers works good, thanks for the quick response!

[2018-01-24 08:49] #51 closed

[2018-03-05 02:58] shalinparmar opened #52 "error during cleanup of component with Karma"
I am using BlockUI @next with Angular 5+. It works fine in app but the unit testing fails with error:
'Cannot read property 'unsubscribe' of undefined at BlockUIContentComponent.webpackJsonp'. The reason being that Karma doesn't instantiate the BlockUI object (i.e. no call is made to ngOnInit) but it calls ngOnDestroy() and fails there because the subscription was never set.

Please let me know ho

[2018-03-05 13:45] kuuurt13 commented on #52
@shalinparmar I haven't seen this in any of my karma tests but it looks like something I would need to put a fix in for. I can add an extra check [on this line](https://github.com/kuuurt13/ng-block-ui/blob/master/lib/components/block-ui-content/block-ui-content.component.ts#L154) to make sure it is defined.

[2018-03-06 00:45] kuuurt13 commented on #52
@shalinparmar I added the fix for this and published a new version to npm. Update to ` 1.0.0-beta.19` to get the fix. Let me know if that fixes your issue.

[2018-03-13 19:34] thiagov opened #53 "Error with AOT compiler and angular cli"
Hello, I recently updated ng-block-ui to  verion 1.0.0-rc.1 (I am using Angular 5). I updated the module import, like described [here](https://github.com/kuuurt13/ng-block-ui/blob/1.0.0-release/docs/migration-1.0.0.md).

When I try to compile the application with angular cli, using `ng serve --aot`, I get the following error:

``
  Function calls are not supported in decorators but 'BlockUIModule'

[2018-03-14 00:11] kuuurt13 commented on #53
@thiagov thanks for testing out the RC! I will take look into this.

[2018-03-14 02:28] kuuurt13 commented on #53
Hey @thiagov looks like I needed to make some changes to how settings are injected. I tested locally with a new project created with angular cli and running `ng serve --aot`.

Install the latest rc (`1.0.0-rc.2`) and you should no longer see the error. Let me know if that works for you.

[2018-03-14 10:42] thiagov commented on #53
Thanks @kuuurt13! I installed the latest rc and it solved the problem.

[2018-03-14 18:48] emranashraf opened #54 "No provider for BlockUIInstanceService"
I'm trying to use ng-block-ui with Angular 5 in a Angular CLI project.

in my app.module.ts I imported the component as following
import { BlockUIModule } from 'ng-block-ui';

then added in import block
imports: [
  BlockUIModule
]

but i'm getting error  "No provider for BlockUIInstanceService!"

Any idea what I'm doing wrong. Do I have to do some extra steps in an Angular CLI project as I can't

[2018-03-14 19:03] kuuurt13 commented on #54
@emranashraf what version of `ng-block-ui` are you using? Can you run `npm list ng-block-ui` so I can be sure what version you are using.

If you explicitly installed `1.0.0-rc.x` then you can find the updated docs for that on the [1.0.0-release branch docs](https://github.com/kuuurt13/ng-block-ui/tree/1.0.0-release#installation) since it has yet to be merged into master.

[2018-03-14 19:19] emranashraf commented on #54
I ran this command "npm list ng-block-ui" it's showing version ng-block-ui@1.0.0-rc.2
But I installed it with the following command
npm install ng-block-ui@next

and in package.json 1.0.0-beta.19 version is being shown

Thanks for your quick reply

Regards,
Imran

[2018-03-14 19:22] emranashraf commented on #54
By using BlockUIModule.forRoot() in import block fixed my issue.

Thanks
Imran

[2018-03-15 00:49] kuuurt13 commented on #54
Good to hear, closing this issue

[2018-03-15 00:49] #54 closed

[2018-03-15 00:50] kuuurt13 commented on #52
@shalinparmar closing since this should be fixed. If you continue to see the issue I will open this back up. Thanks

[2018-03-15 00:50] #52 closed

[2018-03-22 10:19] cmartinrauroszm opened #55 "?"
?

[2018-03-22 11:49] kuuurt13 commented on #55
Please see this issue https://github.com/kuuurt13/ng-block-ui/issues/36

[2018-03-22 12:01] cmartinrauroszm commented on #55
Thanks

[2018-03-22 12:02] #55 closed

[2018-04-06 00:48] kuuurt13 commented on #41
1.0.0 has been released :tada:

[2018-04-06 00:48] #41 closed

[2018-04-06 00:53] kuuurt13 commented on #40
This has now been addressed in `1.0.0` see the new [isActive](https://github.com/kuuurt13/ng-block-ui#ngblockui-instance) property to check if the the instance is curently blocking

[2018-04-06 00:53] #40 closed

[2018-04-06 00:56] kuuurt13 commented on #39
Now in `1.0.0` you can prevent navigation while block see the [Router Module](https://github.com/kuuurt13/ng-block-ui/blob/master/docs/router-module.md#prevent-navigation-during-active-block-ui)

[2018-04-06 00:56] #39 closed

[2018-04-06 00:58] kuuurt13 commented on #38
With the new `1.0.0` release you can now automatically block http requests, see the [HTTP Module](https://github.com/kuuurt13/ng-block-ui/blob/master/docs/http-module.md#automatically-block-http-requests)

[2018-04-06 00:58] #38 closed

[2018-04-06 13:51] bigshiny90 opened #57 "BlockUIHttpModule not working"
import { BlockUIHttpModule } from 'ng-block-ui/http';

cannot find module.   i properly npm installed ng-block-ui, seems everything is setup properly.

am i missing something?

[2018-04-06 14:07] kuuurt13 commented on #57
@bigshiny90 that seems right. It could be a bundling issue with npm that I didn't run into when testing locally. I will take a look.

[2018-04-06 14:08] bigshiny90 commented on #57
nice, thx man ;)  Looks like a great library, looking forward to trying it!

[2018-04-06 14:12] kuuurt13 commented on #57
@bigshiny90 thanks, I appreciate it. It definitely is an issue with how I am packaging it with npm. It's not ideal but a work around for now would be to import as so:
[code]

I will continue to look into this and see if I can fix the issue so you don't have to explicitly point to the `dist` folder

[2018-04-06 14:36] bigshiny90 commented on #57
that worked for the import...

i'm not really getting anything happening though...  i'm wondering if the fact that i'm also using ngx-loading-bar:

https://github.com/aitboudad/ngx-loading-bar

which also has a httpclient module, which is probably some kind of interceptor.. might be interacting badly with BlockUIHttpModule...

certainly not your problem!  but let me know if you have any thoughts ;

[2018-04-08 21:51] kuuurt13 commented on #57
@bigshiny90 I fixed how the package is bundled so now `import { BlockUIHttpModule } from 'ng-block-ui/http';` should work.

As for working with https://github.com/aitboudad/ngx-loading-bar I had no problems getting them to work together. Checkout this example out for reference https://codesandbox.io/s/n1nlwjoql. Feel free to fork it and mess around to see if you can reproduce your issue and I woul

[2018-04-09 12:48] kuuurt13 commented on #57
@bigshiny90 I played around with that codesandbox l created and I think I found the issue that you are seeing. For whatever reason the blocking is ending early even though the request is still pending. I will look into it and will try to get a fix out tonight.

[2018-04-09 13:26] bigshiny90 commented on #57
That's awesome you looked into it!  a big thanks to you, truly...  let me
know what you find ;)

-steve

On Mon, Apr 9, 2018 at 8:48 AM, kuuurt13 <notifications@github.com> wrote:

[2018-04-10 00:39] kuuurt13 commented on #57
@bigshiny90 I believe I fixed the issue that you were seeing. Please update to `1.0.4`and give it a shot.

[2018-04-11 08:38] Assdi commented on #38
thanks @kuuurt13  I will check it :+1:

[2018-05-02 17:52] atecey opened #59 "Is there a way to easily add a new line in the default message?"
For example:

"This is my message"
"Status displayed Below it"

But the string sent to the block UI service is "This is my message \n Status displayed Below it"

[2018-05-02 18:53] kuuurt13 commented on #59
@atecey you would need to add a css style to render the line break. Keep the `\n` but add the below css to target the message and the line break will render correctly.

[code]

[2018-05-02 20:14] atecey commented on #59
That worked thanks. I had only put it on the .message hence why it didn't work for me originally

[2018-05-02 20:14] #59 closed

[2018-05-02 21:15] geetee24 opened #60 "when building for prod mode, at runtime fails to inject. building in dev mode works."
AppComponent.html:3 ERROR Error: StaticInjectorError(AppModule)[BlockUIContentComponent -> BlockUIInstanceService]:
  StaticInjectorError(Platform: core)[BlockUIContentComponent -> BlockUIInstanceService]:
    NullInjectorError: No provider for BlockUIInstanceService!

Any idea why it fails in prod mode?

Thanks

[2018-05-03 16:10] kuuurt13 commented on #57
Closing, feel free to open back up if you have issues

[2018-05-03 16:10] #57 closed

[2018-05-03 17:13] geetee24 commented on #60
5.2.10 ng.
here is snuippet

import { BlockUIModule } from 'ng-block-ui';							// https://www.npmjs.com/package/ng-block-ui

@NgModule ( {
	imports: [
		BlockUIModule.forRoot(),
	],
	declarations: [
	],
	providers: [
	],
	entryComponents: [ BrcTestComponent, UrlOptionsModalDialogComponent, Olp2BlockUiLoadingTemplateComponent ],
	bootstrap: [ AppComponent ],

	schemas: [ CUSTOM_ELEMENTS_SCHEMA ]
}

[2018-05-03 20:05] kuuurt13 commented on #60
Thanks @geetee24! Your import looks fine, thanks for shating. I just tested a new app with angular cli (ng 5.2.10) and I had no issues running `ng build --prod` or `ng serve --prod` 🤔

Looking closer at the error, it looks like the error is at `AppComponent.html:3`. Can you post your template from `AppComponent`. There might be something in there that is causing the issue?

[2018-05-04 00:50] kuuurt13 commented on #60
It might have something to do with your `blockUiTemplate` template. I can't reproduce the error with a Component/TemplateRef block ui template in prod mode. Can you give me more info on your block-ui template. The more of you code I can see the better I can help. If you have a repo I can look at or if you can add a simple version your to https://codesandbox.io/s/angular I can help a little more.

[2018-05-04 02:34] geetee24 commented on #60
<div class="block-ui-template" >
	<div class="container-fluid" >
		<div class="row justify-content-center" >
			<div class="col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3" >
				<div class="sk-fading-circle" >
					<div class="sk-circle1 sk-circle" ></div>
					<div class="sk-circle2 sk-circle" ></div>
					<div class="sk-circle3 sk-circle" ></div>
					<div class="sk-circle4 sk-circle" ></div>
					<d

[2018-05-04 13:11] kuuurt13 commented on #60
Hm I'm still not seeing anything out of the ordinary. I have a few other things to ask/try.

1. Does the error go away when you remove the custom template and use the default one?
2. Do you still see the error when you set the custom template in the module `BlockUIModule.forRoot({ template: Olp2BlockUiLoadingTemplateComponent })`?
3. Can you try reinstalling ng-block-ui `npm uninstall ng-block-ui

[2018-05-09 01:33] geetee24 commented on #60
now even when i build in dev mode i get same error. any luck on your end?

[2018-05-09 02:57] geetee24 commented on #60
when (1) above : <block-ui [delayStop]="1000"  >

I still get the error.

ERROR Error: StaticInjectorError(AppModule)[BlockUIContentComponent -> BlockUIInstanceService]:
  StaticInjectorError(Platform: core)[BlockUIContentComponent -> BlockUIInstanceService]:
    NullInjectorError: No provider for BlockUIInstanceService!

(3) did not help.

[2018-05-11 19:12] pardamike opened #61 "Update to RxJS 6"
RxJS 6.x has changed how we import its modules and operators, causing this package to throw some errors.  Should just be a matter of adjusting the imports:

ERROR in node_modules/ng-block-ui/lib/services/block-ui-instance.service.d.ts(1,10): error TS2305: Module '"C:/Dev/testblockui/node_modules/rxjs/Observable"' has no exported member 'Observable'.
node_modules/rxjs/Observable.d.ts(1,15): error T

[2018-05-11 19:42] pardamike commented on #61
FYI in case you have not seen it: https://www.academind.com/learn/javascript/rxjs-6-what-changed/

[2018-05-11 19:42] pardamike commented on #61
Sorry I closed by accident.

[2018-05-11 19:58] kuuurt13 commented on #61
Thanks for reporting I appreciate all the details you provided.

Yeah, I saw the changes in rxjs 6 but didn't realize that it wasn't backwards compatible right away. Looks like I might need to ship my library with https://www.npmjs.com/package/rxjs-compat. You can try to install `rxjs-compat` for the time being and see if that works for you for now.

I would like to migrate to rxjs 6 but if I do,

[2018-05-11 20:45] pardamike commented on #61
Using `rxjs-compat` now and it works perfect, thank you!

[2018-05-12 14:08] kuuurt13 commented on #61
Great, that is good to hear! I am going to keep this issue open since I still need to figure the best way to fix this and see what other libraries are doing. Not sure if I should ship my npm package with `rxjs-compat` as a dependency or not. Thanks again for reporting 👍

[2018-05-14 13:26] kuuurt13 opened #62 "Move Code Examples Off of Plunker"
Plunker seems to be getting more and more unstable. All code examples in documentation should be moved to a different code sandbox.

[2018-05-14 14:32] s13571 opened #63 "Leave animation not working"
Hey, so first of all great job with this library, it's really great and works as expected. There's just one thing I would like to accomplish and Im struggling. So I created custom template and I wanted to add fade In for enter and fade Out for leave so the loader would appear and disappear smoothly. While enter animation is working great the leaving animation is not triggered at all. Is it by desi

[2018-05-14 16:25] #63 closed

[2018-05-15 01:29] kuuurt13 commented on #60
@geetee24 so I have been looking into this and still can't seem to reproduce the issue you are seeing. I'm thinking there might be something with your setup. To test this, I created an example repo with Angluar CLI that uses Angular 5.2.10 https://github.com/kuuurt13/ng-block-ui-example.

I have tested this example and it builds/works fine with `ng serve` and `ng serve --prod`. Can you clone this

[2018-05-17 09:51] s13571 opened #64 "BlockUI animation on hide"
Hey, I'm using your library with my custom template and I'm struggling with one thing. I tried using built in angular animations as well as css. So animation for showing block content is working fine with both techniques, but hiding is something I cannot do with any of these. Do you have any idea how could I do sooth fadeOut animation for istance? I'm using blockUI as directive and start it with s

[2018-05-18 13:31] kuuurt13 commented on #64
Hey, without seeing some code I can't help too much with your specific issue you are seeing. I do know that it is possible to create a fade in/out transition using CSS. Checkout out this sample code I created for more details https://codesandbox.io/s/ov07l3rz69?module=%2Fsrc%2Fstyles.css.

What you have to do is overwrite the default styles that the library applies. It uses `display: block/none` t

[2018-05-21 10:31] s13571 commented on #64
Ok I was missing z-index property... Thank you a lot, great lib!

[2018-05-21 12:38] kuuurt13 commented on #64
Thanks, no problem! Going to close this issue then.

[2018-05-21 12:38] #64 closed

[2018-05-25 04:06] talhajunaidd opened #65 "Allow modification of styles in block-ui-wrapper class"
Please allow modification of styles in `block-ui-wrapper` class. when using custom template
Currently I've faced a scenario where I need to use lighter color and lower z-index value
[code]
But due to these I can't change the color.

[2018-05-25 12:18] kuuurt13 commented on #65
This is already possible. There is an example directly in the docs on how to do this https://github.com/kuuurt13/ng-block-ui#blockui-custom-spinner-styles---plunker and a past issue https://github.com/kuuurt13/ng-block-ui/issues/16. You need to set a higher CSS specificity on the wrapper for your changes to take effect.

[2018-05-25 14:56] talhajunaidd commented on #65
Alright. got it. Thanks @kuuurt13

[2018-05-25 14:56] #65 closed

[2018-05-28 16:48] pareshv opened #66 "Angular 6"
Current version of ng-block-ui is not supported on Angular 6 due to upgrade to the Rx 6.

Can you please advise what changes needs to be done to get this working on Angular 6 or any immediate plan to release a new version?

[2018-05-28 17:14] kuuurt13 commented on #66
Please see #61

[2018-05-28 20:15] #66 closed

[2018-05-29 03:23] mackski opened #67 "BlockUIHttpModule not working for multiple requests"
The BlockUIHttpModule only seems to block a single current request. If I have multiple concurrent requests, only the first one is blocked, anything there after is ignored.

Is this a bug or by design?
Is there a possibility of adding an option to block until all requests are completed?

[2018-05-29 13:06] kuuurt13 commented on #67
This is related to #43. Currently by default the library doesn't queue calls to block `stop`/`start`. That means that if you call `start` twice but later call `stop` once it will stop the blocking. For the next major release I plan on changing this behavior so that if block `start` is called twice then block `stop` would need to be called twice to stop blocking (or call `reset` at anytime to clear

[2018-06-06 09:44] akash-potdar7 opened #68 "Not able to import."
Compilation error on importing: cannot find ng-block-ui
These are my app rxjs and ng versions.
"rxjs": "^5.5.10"
"ng": "^5.2.0"

[2018-06-06 12:19] kuuurt13 commented on #68
What do you get when you run `npm list ng-block-ui`?

[2018-06-07 07:07] akash-potdar7 commented on #68
I get this from **npm list ng-block-ui**
-- ng-block-ui@1.0.4

package.json has **"ng-block-ui": "^1.0.4"** in dependencies.

But when I try to import i in my app.module.ts
import { BlockUIModule } from 'ng-block-ui';

I see the error: can't find 'ng-block-ui' in node_modules.
ERROR in src/app/app.module.ts(52,31): error TS2307: Cannot find module 'ng-block-ui'.

Hope this is conclusive.

[2018-06-07 16:02] mdaslamknlgit opened #69 "Loading When Child Display"
Hello

I have a application in angular 5 parent an child component left parent and right is child detail, when child component trigger blockui parent also displaying

How to avoid displaying in parent, I just need to display in parent only

below is the image

[Image](https://www.dropbox.com/s/q4mlu2641xs111e/loading%20both%20pareent%20and%20child.png?dl=0)

Thanks

Best Regars

[2018-06-07 16:18] kuuurt13 commented on #69
I would guess that you are most likely not passing the name to the decorator. See here in the docs https://github.com/kuuurt13/ng-block-ui#block-ui-directive and see the example below and let me know if this helps.

**Example Template:**
[code]

**Target the global block:**
[code]
**Target child detail decorator:**
[code]
[code]

[2018-06-07 19:52] kuuurt13 commented on #68
How did you create your project? Did you use angular CLI or is it something custom?  I am just wondering because this seems like it is an issue with your build step. If you can give me more info on that I can help

Also you can try a few things below:

1) Can you uninstall and install the library `npm uninstall ng-block-ui && npm install ng-block-ui --save   ` . There might have been an issue when

[2018-06-07 19:58] kuuurt13 commented on #60
Closing for now due to lack of activity, feel free to open back up

[2018-06-07 19:58] #60 closed

[2018-06-07 20:03] akash-potdar7 commented on #68
Yes my app is built with using angular-cli.
I have tried uninstalling, it didn't work.
Will try out the other two oprions and let you know.
Thanks.

On Fri, Jun 8, 2018, 1:22 AM kuuurt13 <notifications@github.com> wrote:

[2018-06-12 10:38] Ludevik commented on #61
Hi @kuuurt13 , one option is to upgrade the code to rxjs and bump your version to 6 as well, so that consumers of this library know which version is compatible with which version of Angular.

[2018-06-12 21:16] kuuurt13 commented on #61
Hey @Ludevik, the only issue with that is I believe this library would no longer be backwards compatible for anyone who hasn't migrated to Angular 6 yet. I don't want to break functionality for < Angular 6.x users. I'm leaning towards shipping the package with https://www.npmjs.com/package/rxjs-compat as a dependency which would fix it for both Angular 6.x or less.

If you look at `rxjs-compat` an

[2018-06-14 10:43] darge98 opened #70 "Possibile use BlockUIHttpModule with BlockUI Directive"
Hi,

I want to know if it's possibile use the BlockUIHttpModule with the directive.
At different http request i want to apply blocking to a element in html page(without use .start and .stop method).

Thanks.

[2018-06-14 12:51] kuuurt13 commented on #70
@darge98 currently it isn't possible to target a directive but it is something that could be added in a future release.

[2018-06-27 13:57] keslavi opened #71 "angular 6 service not found"
using angular-cli, v6, and trying to use ng-block-ui.
getting service not found error message... possibly a difference between v5 and 6?

(added rxjs-compat btw)

[2018-06-27 18:59] cloudcon opened #72 "Disable tab Key"
Disable Tab Key or Keyboard when block full screen;

[2018-07-02 14:01] keslavi commented on #71
Thank you for your help :) unsure if this is an ng6/ng5 thing or not.

**console:**
ERROR in node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.
node_modules/ng-block-ui/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts(9,11): error TS2451: Cannot redeclare block-scoped variable 'ngDevMode'.

**In ng_dev_mode.d.ts,

[2018-07-03 01:35] kuuurt13 commented on #71
@keslavi thanks for the info. So I'm not sure what the issues is but I think it might be specific to your project. I have tested `ng-block-ui` with Angular 6.x using the Angular CLI and it works fine. You can see a sample repo [here](https://github.com/kuuurt13/ng-block-ui-example/tree/ng-6.0).

I have a few questions/suggestions that might help:
1) Can you try deleting all your `node_modules` and

[2018-07-03 12:49] kuuurt13 commented on #71
After googling your issue I found this as well. It seems like it might be the same issue you are having https://github.com/angular/angular/issues/24165

[2018-07-04 12:07] gvart commented on #71
+1 Same issues in Angular 6 project

[2018-07-05 12:47] kuuurt13 commented on #71
@gvart, glad it is working for you as well. For now`rxjs-compat` is required for Angular 6 apps. Now that Angular 6 has been out for a while, I think I will be releasing `2.0.0` with the correct import paths soon though so people that want to upgrade to 6.0 don't need `rxjs-compat`.

@keslavi, you said you added `rxjs-compat`, correct?

[2018-07-09 11:43] RobPierce commented on #45
Just been having a look at the code / play with the logic around delay start and stop in the block-ui-content.component.ts and it definitely needs some checking so that when starting, if a delayStart timeout is already in play it can increment a counter of active calls, then when stopping, if !this.active call the stop action straight away (regardless of whether there is a delay) since we've not y

[2018-07-09 14:30] kuuurt13 commented on #45
@RobPierce, thanks for the feedback/help. This might also have to do with this issue #43. I have been working on overhauling how blocking handles multiple calls by queueing the stop/start ([commit](https://github.com/kuuurt13/ng-block-ui/commit/cac7a229e726e3b7412be9d8ebe866dc7dff0347)). There has been a lot of side effects because of this issue and what you are seeing might be caused by it as wel

[2018-07-09 14:41] tset2411 commented on #71
Same issue

[code]

`"ng-block-ui": "^1.0.4"`

Error Log:
![screenshot from 2018-07-09 20-03-00](https://user-images.githubusercontent.com/25196573/42457156-4e193afa-83b4-11e8-82ba-ed2fc2148e26.png)

[2018-07-09 14:44] kuuurt13 commented on #71
@tset2411 thanks for the info. It gives me more info to debug with. I will try to see if I can reproduce.

[2018-07-09 18:55] RobPierce commented on #45
Cool, looking forward to it - will test it as soon as it's available and update.

Nice avatar as well ;)

[2018-07-10 00:52] kuuurt13 commented on #69
@mdaslamknlgit, did that work for you?

[2018-07-10 04:54] tset2411 commented on #71
@kuuurt13 Yeah I have used `ng update` command. Also I have referred this blog [https://www.techiediaries.com/updating-angular-cli-projects/](https://www.techiediaries.com/updating-angular-cli-projects/)

[2018-07-10 06:15] tset2411 commented on #71
@kuuurt13 I have created new angular 6 project using `ng new Demo`
Then installed `"ng-block-ui": "^1.0.4"`.
Then I also need to install `npm install rxjs-compat --save` to compile project successfully.
And after I run `ng serve` And It worked in DemoProject

Then I found In my existing project's app module I imported `BlockUIModule` instead of `BlockUIModule.forRoot()`

After changing in app modu

[2018-07-11 00:30] kuuurt13 commented on #45
`ng-block-ui@1.0.5` has bee released with your changes @RobPierce. Thanks again for the help. Closing this issue.

Glad you like the avatar :smiley: **YNWA**

[2018-07-11 00:30] #45 closed

[2018-07-11 00:36] kuuurt13 commented on #71
@tset2411 glad you figured out your issue!

@keslavi are you sure you are importing the module by invoking `BlockUIModule.forRoot()`?

[2018-07-11 15:15] keslavi commented on #71
@kuuurt13

https://github.com/kuuurt13/ng-block-ui-example

using your example I was able to find and resolve my problem.  thank you so much!

[2018-07-11 15:15] #71 closed

[2018-07-12 09:40] tamilsweet commented on #61
Please have version compatibility table instead of forcing to use rxjs-compat. Users with Angular < 6 can use ng-block-ui < 1.0.x or something and Angular 6+ users can use the latest version.

[2018-07-12 12:32] kuuurt13 commented on #61
@tamilsweet I'm working on it

[2018-07-13 05:57] Ludevik commented on #61
@kuuurt13 need help? i can either implement it or at least try it on my project, this library is currently the only one from my dependencies that requires rxjs-compat

[2018-07-13 12:42] kuuurt13 commented on #61
@Ludevik I upgraded Angular/RxJS last night and everything seems to be okay (https://github.com/kuuurt13/ng-block-ui/commit/2599e8ad00b5e270d9ed91f2da490a1cca181271). I just want to smoke test everything one more time but I should have a `2.0.0` version with the changes out by this weekend.

[2018-07-13 14:30] mlearncore2018 commented on #61
@kuuurt13, I'm new to Angular 6 so pardon my layman question. I'm trying to use ng-block-ui and my project is being compiled successfully. Although, in my console, I'm getting the following error-
-----------------------------------------------------------------------------------------------
Uncaught Error: Template parse errors:
'block-ui' is not a known element:
1. If 'block-ui' is an Angular co

[2018-07-13 16:32] cloudcon opened #74 "BlockUIService creating multiple times the same instance of NgBlockUI"
I put the import as informed in the example inside the AppModule

![image](https://user-images.githubusercontent.com/1523034/42702271-606082ac-869f-11e8-8e78-46267bd1d599.png)

Inside of  app.component.html put the tag <block-ui>

![image](https://user-images.githubusercontent.com/1523034/42702322-876c6d0c-869f-11e8-8fc9-1e87157acc85.png)

Inside the file app.component.ts I create the router inter

[2018-07-13 18:47] kuuurt13 commented on #74
@cloudcon hmm I will look into this. Thanks for the detailed issue btw 👍

[2018-07-13 18:52] kuuurt13 commented on #61
@mlearncore2018 I'm going to take a guess that you haven't imported the `BlockUIModule` into your apps `NgModule`. Please make sure you have it imported like below.

[code]

[2018-07-14 17:20] kuuurt13 commented on #61
I have published `ng-block-ui@2.0.0-beta.1` which adds support for Angular 6 and RXjs 6. Please install (`npm i - S ng-block-ui@next`) and try it out in your Angular 6. Let me know if any of you run into any issues.

[2018-07-17 14:32] Ludevik commented on #61
thanks, it works, i have updated to 2.0.0 and got rid of rxjs-compat 🥇

[2018-07-17 15:06] Ludevik commented on #62
@kuuurt13 hi, i could help with this. I suggest to move the examples to stackblitz. I created demo for the first example: [https://ng-block-ui-component.stackblitz.io](https://ng-block-ui-component.stackblitz.io). I can move the other examples too, if you agree. What do you think?

[2018-07-18 00:36] cloudcon commented on #74
Thanks man.
Tomorrow I will update and test again.
Good job you made a excellent plugin

Em ter, 17 de jul de 2018 às 21:33, kuuurt13 <notifications@github.com>
escreveu:

--
##------

[image: Cloudcon Tecnologia] <http://www.cloudcon.com.br/>

*André Faria* / CEO
andre@cloudcon.com.br / (27) 99901-5666

*Cloudcon Tecnologia*
www.cloudcon.com.br

[image: Twitter] <https://twitter.com/coudcon>[imag

[2018-07-18 20:02] Ludevik commented on #62
So now the examples are moved to Stackblitz. Next step would be to automatically generate examples from the repository itself. I'll try to do this as well.

[2018-07-18 21:12] Ludevik commented on #62
Yea, there are multiple ways how to do it in stackblitz. You can host the github angular cli project too - [https://stackblitz.com/github/kuuurt13/ng-block-ui-example/tree/master/](https://stackblitz.com/github/kuuurt13/ng-block-ui-example/tree/master/), just like on codesandbox. Angular.io and angular material both use stackblitz now for their examples, so i guess they made some research before s

[2018-07-24 20:33] kuuurt13 commented on #62
That works for me. Thanks for looking into this!

It looks like I can also point to a sub folder and run it on [stackblitz](https://stackblitz.com/github/kuuurt13/ng-block-ui/tree/next/examples/default) as well. I have a WIP branch with some of the examples added into a `examples` folder https://github.com/kuuurt13/ng-block-ui/tree/next/examples. I will finish this up and get it in for the `2.0.0`

[2018-07-27 00:14] kuuurt13 commented on #62
Moved all examples into the repo, closing this. Thanks again for all the help @Ludevik

[2018-07-27 00:14] #62 closed

[2018-08-01 20:57] kuuurt13 commented on #69
Closing due to inactivity, feel free to open back up if needed.

[2018-08-01 20:57] #69 closed

[2018-08-01 21:00] kuuurt13 commented on #68
Any luck with this?

[2018-08-02 20:45] rahul20diatm commented on #61
block-ui directive is not working even when i have imported the block-ui module in app module

[2018-08-02 21:13] kuuurt13 commented on #61
@rahul20diatm may I ask why you think your issue is related to upgrading to rxjs 6?

Also, can you please include more info like any errors you are seeing or at the very least the specific version of Angular and ng-block-ui you are using?

In the mean time, here is an app with an directive example which is 100% working which uses Angular 6, rxjs 6 and `ng-block-ui@2.0.0-beta.2` https://stackblitz.

[2018-08-03 00:05] rahul20diatm commented on #61
@kuuurt13 i get following error.
Can't bind to 'blockUI' since it isn't a known property of 'div'. ("="'General.Loading' | translate"></app-progress-bar>
<div class="container">
    <div class="row" [ERROR ->]*blockUI="'test'">
I have imported blockui module in root module(app.module.ts) . My app component looks like
<block-ui>
  <app-body>
    <ng-template>
      <div class="content">
        <ro

[2018-08-03 05:11] Ludevik commented on #61
@rahul20diatm you need to import `BlockUIModule` (without .forRoot()) in your ReportModule too. Everything that the module depends on must be imported in that module.

[2018-08-03 08:23] SoftwareAndOutsourcing opened #79 "StaticInjectorError with Angular universal server side rendering"
Hi,

I'm upgrading an Angular Universal project to the latest Angular version and I get errors with the ng-block-ui version 2.0.0-beta2. It worked fine with Angular 4 and ng-block-ui 1.0.6. Steps to reproduce:

1. `git clone https://github.com/angular/universal-starter.git`.
2. `npm i`.
3. `npm i --save ng-block-ui@next`.
4. Add ng-block-ui as described in the docs.
5. `npm run build:ssr && npm ru

[2018-08-03 13:22] kuuurt13 commented on #79
@SoftwareAndOutsourcing thank you for making this issue so detailed and providing an example, it is appreciated! 👏

I will take a deep dive into this issue this weekend. I'm thinking this is coming from changes in Angular Universal/Angular because I haven't changed anything drastic with the module or the providers since `1.0.6` so not sure why this would break 🤔. It might be something with how I a

[2018-08-06 01:30] kuuurt13 commented on #79
@SoftwareAndOutsourcing so it looks like it is an issue with how I am packaging the library. I ended up using https://github.com/dherges/ng-packagr which follows Angular's APF standard for packaging libraries and it worked in your example repo. I still need to test a few things with the new packager but I should be able to have a new version out in the next day or two.

[2018-08-06 08:36] SoftwareAndOutsourcing commented on #79
@kuuurt13 thanks for the prompt response.

Angular CLI 6 includes support for libraries using ng-packagr, maybe migrating to it will provide an easier way to upgrade to future versions: https://github.com/angular/angular-cli/wiki/stories-create-library.

[2018-08-07 00:53] kuuurt13 commented on #79
Yeah, it might make sense to add in Angular CLI in the future. When I first created the library the CLI was lacking from a library author standpoint, this looks promising though!

I published a new version `ng-block-ui@2.0.0-beta.3` that is working for me in the Angular Universal test repo you shared. Give it a shot and let me know if you have any issues.

[2018-08-07 17:56] SoftwareAndOutsourcing commented on #79
I tried 2.0.0-beta.3 and seems it's working fine. Thanks again for your help.

[2018-08-07 17:56] #79 closed

[2018-08-09 15:55] kuuurt13 commented on #68
Closing, feel free to open if you are still having issues.

[2018-08-09 15:55] #68 closed

[2018-08-31 07:30] AlwaysAbhl001 commented on #18
can any one post working stackblitz here ?

[2018-08-31 11:02] kuuurt13 commented on #18
@AlwaysAbhl001, here is a [plunker](https://plnkr.co/edit/z41cgz?p=preview) that was created a while ago that has an example.

[2018-09-18 10:12] kavi87 commented on #24
I don't understand, I can only see the `delayStart` and `delayStop` options but what I really want is the `delayStart` and not showing the block element if the request has already completed, only showing it if the request is taking too long. Can this be achieved simply with options ?

[2018-09-19 14:06] kuuurt13 commented on #24
@kavi87 I'm not sure if I understand your issue. If you just add `delayStart` then it will achieve what you are saying. It will wait for the given amount of time you delayed it for (request is taking too long) to start blocking and if the request finishes before the delay it wont show.

Maybe if you can give me an example it might help me get a better idea of what you are talking about. Feel free

[2018-09-25 08:34] bdairy opened #81 "Issue with observable in version 1.0.6"
ERROR in node_modules/ng-block-ui/lib/services/block-ui-instance.service.d.ts(1,10): error TS2305: Module '"C:/...//node_modules/rxjs/Observable"' has
no exported member 'Observable'.

Unable to run my application

[2018-09-25 13:49] kavi87 commented on #24
@kuuurt13 Yes sorry, I have used `delayStart` successfully since but forgot to update the question. You can close this as far as I am concerned, thanks for the great lib.

[2018-09-25 17:43] kuuurt13 commented on #81
@bdairy sounds like you are using Angular 6/rxjs 6. Please see #61

[2018-09-27 11:59] silentFred opened #82 "Any way to exclude styles?"
Hi there,

Is there any way to exclude the styles from a Angular CLI build?

Cheers,

[2018-09-28 00:10] kuuurt13 commented on #82
@silentFred unfortunately I don't think it is currently possible to exclude the styles. I'm not sure how I would go about structuring the library to allow for the styles to be excluded but I can do some research.

[2018-10-25 11:58] Velocity540 opened #83 "BlockUIHttpModule"
Having an issue getting the HTTP module to work. I have Imported, like the doc state.
 BlockUIHttpModule.forRoot() in my shared modeule

 but so far, no automatic HTTP blocking is taking place. i must be doing something wrong, but I cannot find any examples of this working. Can you please help? thank you

[2018-10-25 13:13] kuuurt13 commented on #83
@Velocity540 here is an example I created for a previous issue https://codesandbox.io/s/pp92qn6zp7

Let me know if that helps or if you have any other questions.

[2018-10-25 17:18] kuuurt13 commented on #83
@Velocity540 the `requestFilters` setting should be working. I think you are just having an issue with the configuration. The `requestFilters` property is to filter out any requests you don't want to block so you should be targeting the first 2 requests, similar to something below.

[code]

[2018-10-29 22:52] kosnkow opened #84 "how to disable just the spinner and show only message ?"
how to disable just the spinner and show only message ?

[2018-10-30 12:41] kuuurt13 commented on #84
@kosnkow you can just use css to hide it or do a custom template.

[code]

[2018-10-31 16:11] bhaskarmishra commented on #67
@kuuurt13 When do you plan to release this? or could you do a beta with this fix?

[2018-10-31 16:46] kuuurt13 commented on #67
@bhaskarmishra this already is in 2.0.0-beta.2, see the [changelog](https://github.com/kuuurt13/ng-block-ui/blob/beta/CHANGELOG.md#new-features).  I plan on releasing `2.0.0` soon now that Angular 7 is out. I like to target the newest release of Angular as a `beta` release in case there are any breaking changes/compatibility issue (like what happened with Angular 6 and RxJS 6)

[2018-11-08 14:15] mjschranz commented on #61
@tamilsweet has the correct idea here. Do we have any updates timelines on when we can expect this? I'd like to drop support for `rxjs-compat` from my project and this is the last module using it.

[2018-11-09 13:53] kuuurt13 commented on #61
@mjschranz you can update to`ng-block-ui@2.0.0-beta.2` right now and it will work without `rxjs-compat` as stated in the comments above. I am also going to roll out the official `2.0.0` release this weekend as well.

[2018-11-10 14:07] #43 closed

[2018-11-10 14:09] #61 closed

[2018-11-10 14:09] #67 closed

[2018-11-10 14:11] #74 closed

[2018-11-10 14:11] #81 closed

[2018-11-15 13:46] kuuurt13 commented on #84
Closing this. Feel free to open back up if still an issue.

[2018-11-15 13:46] #84 closed

[2018-12-05 15:56] mhosman opened #87 "How this work?"
While you "block the UI" with this library, the code is running in a webworker?

[2018-12-05 18:07] kuuurt13 commented on #87
No there is no use of a webworker. It just blocks the UI using an overlay.

[2018-12-05 18:08] #87 closed

[2018-12-18 11:57] amitagrawal11 commented on #67
I had already installed version 2.0.0-beta.3 but still getting same issues i.e. while making multiple api calls it does not block ui. Instead, it works for one request whenever it gets response it stops the blockui and does not wait for other request to complete.

May I need to do anything else to achieve ?

[2018-12-18 14:01] kuuurt13 commented on #67
@amitagrawal11 I can't seem to reproduce your issue, see this [example](https://codesandbox.io/s/korn5vy8xo). If you can send me an example that reproduces the issue you are seeing I can look into it for you

[2018-12-18 17:17] kuuurt13 commented on #83
@Velocity540 I looked into this and it seems purely like an issue with AOT. While the workaround you are using gets around the AOT compiler error it seems like `url` isn't set at run time (even though it clearly is being set). I will need to keep researching this to see what the issue is.

As for a workaround, for now you can do the following. It will work for your use case and also work fine with

[2018-12-28 13:55] #48 closed

[2019-02-11 22:37] symlynk opened #93 "blockAllRequestsInProgress setting missing from 2.1.1?"
npm is showing 2.1.1 is installed of ng-block-ui, but the setting blockAllRequestsInProgress is missing for the http module.

[2019-02-12 00:42] kuuurt13 commented on #93
@symlynk I tried with a fresh install and I see the `blockAllRequestsInProgress` setting. I'm not sure why you are having issues but I can't seem to reproduce. Can you try to reinstall and restart your IDE?

![image](https://user-images.githubusercontent.com/11655463/52603418-bcaad480-2e34-11e9-891d-07f6ed50a2a0.png)

[2019-02-12 01:32] symlynk commented on #93
Thanks - I have created a new project, and the setting is there - it's something to do with my existing project. Will investigate further.

[2019-02-12 04:32] kuuurt13 commented on #93
Okay, going to close then. Feel free to open an issue if you investigate and find an issue with the library.

[2019-02-12 04:32] #93 closed

[2019-02-12 09:55] symlynk commented on #53
Since upgrading Angular, I am seeing this error when attempting to build with: ng build --prod

ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'BlockUIHttpModule' was called.

BlockUIHttpModule.forRoot() is causing the error, but only when building as production. Using 2.1.1 of ng-block.ui

Angular CLI: 1.6.6
Node: 10.15.1
OS: win32 x64
A

[2019-02-13 02:06] kuuurt13 commented on #53
@symlynk the issue is that `2.x.x` requires Angular 6 or above and you are using `5.2.2`. Please see https://github.com/kuuurt13/ng-block-ui/blob/master/docs/migration-2.0.0.md

[2019-03-01 15:59] fallenreaper opened #94 "Limiting Blocker to Scope of Component seems to error."
I use this component every day, but there is a use case i seem to be having issues with, which i figured to file an issue for.

In the process of componentizing some code for reuse, I wanted to on a per-component basis leverage the blocker directive.  The issue I have stumbled into though is that the scope if global for the strings, so if all components are defined with a static string, they all w

[2019-03-01 17:52] fallenreaper commented on #94
I ended up solving it as per my stack overflow answer, but I do not necessarily think this is the right way to solve it.  https://stackoverflow.com/questions/54947437/define-blockui-angular-annotations-at-runtime/54949856#54949856

[code]

[2019-03-03 20:56] kuuurt13 commented on #94
@fallenreaper sorry but I don't believe there is a way to achieve what you are trying to do with the decorator for your use case. Actually, there is no need to use the decorator or the `decorate` method at all (as shown in the StackOverflow answer). This can all be achieved with the exposed `BlockUIService` which allows you to target a `BlockUI` instance by its name. All the decorator does is targ

[2019-03-03 20:58] fallenreaper commented on #94
Thanks.  It took me awhile to find that answer. I'm glad it was the best
answer.

On Sun, Mar 3, 2019, 15:56 kuuurt13 <notifications@github.com> wrote:

[2019-03-08 21:23] #94 closed

[2019-03-20 10:00] nepso opened #95 "How to pass more attributes to BlockTemplateCmp"
when starting blockUi I can provide only message. Right now I created custom interface BlockTemplateConfig and I am "hijacking" the message to pass whole object like this:
`export class BlockTemplateCmp {
    @Input() message: BlockTemplateConfig;
}
this.blockUIElement.start({...} as BlockTemplateConfig);
`

but it would be nice to have in the start method some 3rd attribute like 'context' where a

[2019-03-24 20:15] kuuurt13 commented on #95
@nepso so it is possible pass multiple attributes if needed by using an object, which it looks like you are doing in your example. So correct me if I am wrong but your suggested change would be like so...

[code]
If that is the case, I'm having a hard time seeing too much value added by it being passed as a second argument. Is there any issues or edge cases that the current way isn't achieving?

[2019-03-25 13:44] nepso commented on #95
I think that it would be the best to just rename 'message' to something like data/options/context, so it would be more clear that there can be any configuration for BlockTemplateCmp, because message implies some string message.
But as it is breaking change I proposed to add a second argument.

Anyway no big deal, because I guess people are already using message as context and pass there whatever t

[2019-03-25 21:46] nagiramadan opened #96 "Blockuihttpmodule issue"
i use BlockUIHttpModule with this configuration:
`BlockUIHttpModule.forRoot({
      blockAllRequestsInProgress: true
    })`

Say i have multiple request like:
`xService.getAll().subscripe();`
`yService.getAll().subscripe();`

what happens is block ui works until on of them return first then stop.
expected => it will block ui until all request return.

also another case:
if i fire request in subsc

[2019-03-28 21:31] nagiramadan commented on #96
any help?

[2019-03-28 21:35] kuuurt13 commented on #96
@nagiramadan, I can take a look tonight

[2019-03-29 01:06] kuuurt13 commented on #96
@nagiramadan it looks like there was an issue when requests were fired off in quick succession. I have rolled out a fix `2.1.2` to address this. Let me know if this works for you or if you have any other questions.

Also, here is an example to show how this new version fixes the issue.
https://stackblitz.com/edit/github-papcjf-pguu5t?embed=1&file=src/app/app.component.ts

[2019-03-29 10:00] nagiramadan commented on #96
@kuuurt13 Thanks a lot for your fast help and fix.
i tried it and it works fine but now there is another problem. when i set `blockAllRequestsInProgress: false`, it doesn't make any effects.

i guess behavior may works like that:
- If i set `blockAllRequestsInProgress:true` it should exactly works like behavior now.
- if i set this flag to false it should work like this :
  - if requests after eac

[2019-03-29 13:39] kuuurt13 commented on #96
@nagiramadan you are right it looks like it is no longer honoring that setting. I will work this weekend to put in a fix so that settings is honored again.

That being said, that setting was added by a contributor to keep backwards compatibility when they attempted to fix the issue you were having but to me it should be the default and only behaviors since it is confusing. I think I will be removi

[2019-03-29 15:14] nagiramadan commented on #96
@kuuurt13 you are right, the current behavior should be default. I'm wondering that no one notice this strange behavior before.

I noticed it from a months ago. but actually in my case it serves me because sometimes i don't want to block all ui until all requests return just i want to block the biggest one only (takes long time) then other requests isn't mandatory so i use series requests like exa

[2019-04-03 01:34] kuuurt13 commented on #96
@nagiramadan I fixed it so the `blockAllRequestsInProgress` now works accordingly when `true/false`

As for your suggestion, "gives the controls through a service for reset block ui so whenever we don't want block ui anymore we reset it" I'm not sure what you mean by that, can you give me more details? Currently, you can start,stop and reset blocking with either a `BlockUI` or `BlockUIService` ins

[2019-04-03 06:08] nagiramadan commented on #96
@kuuurt13
Iam actually using block ui like that
`<blockui>
<routerlink></routerlink>
</blockuii>`

I tried to use blockui before to reset blocking after specific request but it isn't working.
Also tried to use blobkuiservice i didn't find reset but found stop and takes name so i don't know how to give a name for block ui so i started digging and found someone use main-block-ui if i remembered. So

[2019-04-04 01:16] kuuurt13 commented on #96
@nagiramadan using `reset` should work fine, see this [example](https://stackblitz.com/edit/github-papcjf-mz1gpf?embed=1&file=src/app/app.component.ts).

As for your `BlockUIService` name issue, the library allows you to name your blockui instances so you can set/target different instances. By default if your instance isn't named it uses a global default name which is `block-ui-main`. If you need

[2019-04-07 10:21] kesdeband opened #99 "BlockUIRouterModule"
I am unable to block navigation when prefetching data in route resolver

[2019-04-07 19:56] kuuurt13 commented on #99
@kesdeband can you please give me more info on this? Seems working for me see https://stackblitz.com/edit/github-papcjf-mz1gpf?embed=1&file=src/app/routeOne/routeOne.component.ts

[2019-04-08 00:32] kesdeband commented on #99
From your example, I think the problem still exists. When blocking is active the user is still able to navigate with the browser back and forward keys. This can provide undesirable results in certain cases.

If you check back at my original issue you will see an example of this feature in an angular 1 example.

[2019-04-09 01:41] kuuurt13 commented on #99
@kesdeband the BlockUIRouterModule just implements the route guards that Angular exposes. As for blocking the browser navigations I believe it would require a some sort of javascript hack to hijack the users forward/back buttons which isn't always encouraged. I can do some research and see how other Angular apps handle this and see if it makes sense to include in the library.

[2019-04-09 22:56] kesdeband commented on #99
@kuuurt13 I was doing some research and found that it may be practical considering Angular's LocationStrategy class or router events.

In the latter approach (see code below) I think that the blockUI Service isActive function is not updated before the event is triggered. Maybe it needs to be an Observable.

This will be the new guard function.

` this.router
            .events
            .pipe(

[2019-04-10 23:34] kuuurt13 commented on #99
@kesdeband thanks for the code snippet, I will test this out

[2019-04-11 02:40] kuuurt13 commented on #99
@kesdeband I took a look at your code snippet and did a little research and I unfortunately don't think your above approach would work for your resolve use case even with an observable. It looks like all Angular supported route guard hooks (` CanActivate`, `CanActivateChild` and `CanDeactivate`) all start/end before the resolve phase so even if you can listen for router events there isn't a way to

[2019-04-12 12:31] kesdeband commented on #99
@kuuurt13 it was an example to open up the discussions on a possible solution. Please note that I also mentioned LocationStrategy which can be injected into the route guard to listen explicitly for those back/forward events.
However, the following question still remains:

1. When is the blockUI isActive state set to true with respect to Angular's navigation lifecycle events?

It seemed to me that

[2019-04-12 13:30] kuuurt13 commented on #99
@kesdeband I understand and thank you again for sending the suggestion. I am still looking into this and seeing what all my options are and I am trying to put together a POC by the end of this weekend.

To answer your question about blockUI isActive it will return true/false depending if you started blocking the main/global instance of BlockUI (`blockUI.start()` or `blockUIService.isActive(BLOCKUI

[2019-04-12 14:31] kesdeband commented on #99
@kuuurt13 Thanks! I've looked at the example but it must be noted that I am also using the BlockUIHttpModule. Therefore, I am not blocking the http request manually.

[2019-04-15 00:45] kuuurt13 commented on #99
@kesdeband so I came up with a POC that overrides the back buttons functionality when blockUI is active during a route resolve (see below for an example). There isn't a way to 100% override a back button click but the best that can be done is to listen for the back button and push the current route state each time until the resolve has finished. Take a look and let me know how it works for you.

E

[2019-05-30 13:10] tems99 opened #100 "Cannot assign to read only property 'isActive' of object Angular 7"
Having the same problem in the stackoverflow post below.

https://stackoverflow.com/questions/56215568/angular-7-cannot-assign-to-read-only-property-isactive-on-ng-block-ui

The temporary solution for this as posted in the answer is

edit line 117

comment out /replace with:
this.blockUIInstances[name] = Object.assign({}, this.blockUIInstances[name], {isActive: isActive});

[2019-05-30 23:52] kuuurt13 commented on #100
@tems99 thanks for sharing the issue. So I looked into this and I can't seem to recreate your issue. I created this example https://stackblitz.com/edit/angular-6cepl2 based off of your issue and everything seems to be working with Angular 7. Take a look and let me know if I am missing anything in relation to your issue.

Also, can you send me the exact version of Angular and `ng-block-ui` you are

[2019-06-02 17:29] kesdeband commented on #99
I will review and provide some feedback consequently. However, does it matter If I am using the BlockUIHttpModule and not manually blocking?

Thanks for your patience and understanding.

[2019-06-06 14:19] kuuurt13 commented on #99
Thanks @kesdeband. When you take a look at the example, you can see that I am using the `BlockUIHttpModule` so it should not matter.

[2019-07-10 13:56] bobojdogg opened #103 "update(message) that follows start() will have message overwritten"
Problem: In the case that you send messages to the start and update methods, you cannot rely upon the order that these methods were called.

If the first call is to start(), it will not set the message on the component synchronously, it will do so via a setTimeout.  If you then call 'update(message)', which is synchronous, it will set the message only to have the earlier 'start' finally run from t

[2019-07-11 01:32] kuuurt13 commented on #103
@bobojdogg I added a fix for your issue in `ng-block-ui@2.1.6`. Please try upgrading and let me know if it fixes your specific issue. I tested it out on my end ([see here](https://stackblitz.com/edit/github-i9qstf?file=src%2Fapp%2Fapp.component.ts)) and it seems like it is working. Just let me know, thanks!

[2019-07-12 14:06] bobojdogg commented on #103
This appears to fix the issue, thanks.

[2019-07-12 14:18] kuuurt13 commented on #103
Great, closing this issue then 👍

[2019-07-12 14:18] #103 closed

[2019-09-13 12:33] apmeena opened #106 "Unable to use with Angular version 2.*.*"
Is there any way through which I can use `ng-block-ui` into my Angular 2 app?

[2019-09-13 12:47] kuuurt13 commented on #106
@apmeena ng-block-ui `2.x.x` no longer supports Angular 2 since that release is around 3 years old. You will need to use version `1.x.x` which should support Angular 2

[2019-09-13 12:47] #106 closed

[2019-10-15 16:18] benj0c opened #107 "Non-delay instance is not working properly"
BlockUI Service `start` and `stop` methods are currently call `showBlock` or `hideBlock` inside `setTimeout` even if it runs without delay. That cause some unexpected behavior if you try to do following:
[code]
Second `start` doesn't call `showBlock` method and it cause that the BlockUI component will not be shown.

It's happens because `onStop` method clear the state inside `setTimeout`. So, `onS

[2019-10-21 23:04] kuuurt13 commented on #107
@benj0c version `2.1.8` has been published. Can you please install and confirm that this issue was resolved?

[2019-10-22 10:01] benj0c commented on #107
@kuuurt13 It works now.

[2019-10-22 10:01] #107 closed

[2019-10-25 17:27] viveksahu1 opened #110 "Background color change"
How do i change the background color of block module ?
referencing a custom template only changes the message and loading icon.

[2019-10-27 21:25] kuuurt13 commented on #110
@viveksahu1 when using a custom template it only replaces the content inside the the block and not the backdrop/wrapper. If you need to style the backdrop you will need to target `div.block-ui-wrapper` to change the color.

See example here https://stackblitz.com/edit/github-zsd8ne?file=src/styles.css

[2019-10-27 21:26] kuuurt13 commented on #100
Closing due to inactivity. Please feel free to open back up if needed.

[2019-10-27 21:26] #100 closed

[2019-10-27 21:27] kuuurt13 commented on #99
Closing due to inactivity. Please feel free to open back up if needed.

[2019-10-27 21:27] #99 closed

[2019-10-27 21:27] kuuurt13 commented on #96
Closing due to inactivity. Please feel free to open back up if needed.

[2019-10-27 21:27] #96 closed

[2019-10-27 21:28] kuuurt13 commented on #83
Closing due to inactivity. Please feel free to open back up if needed.

[2019-10-27 21:28] #83 closed

[2019-10-27 21:58] viveksahu1 commented on #110
Thanks a lot for the help ! .It worked

[2019-10-28 00:13] kuuurt13 commented on #110
Good to hear! Closing this issue then.

[2019-10-28 00:13] #110 closed

[2019-11-11 16:52] mtraut opened #111 "race condition"
Using version 2.1.8

There is a race condition that can be reproduced in my use case, where i have a sidebar that has selectable content based on a buttonbar. After pressing the button, the block-ui is started and a http request issued. When pressing another button, the request is canceled, which in turn stops the block-ui. The new sidebar request then immediately starts the block-ui again.

The p

[2019-11-11 23:37] kuuurt13 commented on #111
Hey @mtraut, thanks for opening an issue. I'm trying my best to follow your specific issue but not sure if I am 100% following. Would it be possible for you to fork this [stackblitz](https://stackblitz.com/edit/github-hmnbqi?file=src%2Fapp%2Fapp.component.ts) and add an example that can reproduce the issue?

[2019-11-12 06:55] mtraut commented on #111
Here you are (thats my first stackblitz, thx for teaching 😊)

https://stackblitz.com/edit/github-hmnbqi-2zqxph

Regards, michael

Von: kuuurt13 <notifications@github.com>
Gesendet: Dienstag, 12. November 2019 00:37
An: kuuurt13/ng-block-ui <ng-block-ui@noreply.github.com>
Cc: Michael Traut <MTraut@intarsys.de>; Mention <mention@noreply.github.com>
Betreff: Re: [kuuurt13/ng-block-ui] race condition

[2019-11-12 22:41] kuuurt13 commented on #111
Thanks for creating this @mtraut, this is super helpful. I will take a look and see if I can find the issue.

[2019-11-13 02:18] kuuurt13 commented on #111
@mtraut, thanks again for the example. I have found the issue and I am working on a fix (#112). I hope to get this finished up and merged in this week. I will keep you posted.

[2019-11-17 23:37] kuuurt13 commented on #111
@mtraut so I publiched my current changes I am working on for your issue. I just forked/updated the [stackblitz](https://stackblitz.com/edit/github-hmnbqi-cq3oaa?file=src/app/app.component.ts) that you sent me to use the new `3.0.0-beta.1` version and it seems to be working. Can you try installing the latest beta in your app and see if it fixes the issue you were seeing?

Use the following command

[2019-11-18 06:24] mtraut commented on #111
Hi,

I'm out of office all week, but will try next possible slot.

Thanks for your efforts.

Michael

Am 18.11.2019 00:37 schrieb kuuurt13 <notifications@github.com>:

@mtraut<https://github.com/mtraut> so I publiched my current changes I am working on for your issue. I just forked/updated the stackblitz<https://stackblitz.com/edit/github-hmnbqi-cq3oaa?file=src/app/app.component.ts> that you sent

[2019-12-11 06:07] kibria06cse opened #114 "block-ui stop is not working."
Hi,
I am using ng-block-ui on my report page. On my report page, there are many server-side reports. Before starting server-side call I started the block-ui and after finishing response I stopped it. But it is not stopping, rather it is loading. I am using many block-ui on seperate components with different block-ui name.

On my ts file, I did it
`  @BlockUI('my-report-section') blockUI: NgBlockUI

[2019-12-11 14:11] kuuurt13 commented on #114
Hey @kibria06cse I believe this might be related to #111. I have been working on completely rewriting the block queueing for the next release because there have been a lot of PRs that have came in and fixed a specific issue but have broken other functionality. Can you try installing `3.0.0` beta and see if it fixes this issue for you?

Use the following command to update:
npm install -S ng-block-u

[2020-01-03 13:18] nuno-tiago-reis commented on #53
Hello, this seems to happen with the 3.0.0-beta.1.
I'm using Angular 8.

[2020-01-06 14:52] geiregjo commented on #111
I think I'm running into the same issue. I'm migrating from an angularjs block-ui which has a function to update the message. This is not possible with the BlockUIService in ng-block-ui. It's only possible on the instance.

First I was starting the same target with different messages and then I hit the issue above. Stop won't work for that instance anymore. Reset does work.

For now I update the m

[2020-01-06 20:52] kuuurt13 commented on #111
@geiregjo what version are you using? If you are not using version `3.0.0` can you please update and see if you still having the issue?

Run:
`npm install -S ng-block-ui@next`

[2020-01-06 20:52] kuuurt13 commented on #53
@nuno-tiago-reis I will look into this tonight

[2020-01-07 02:25] kuuurt13 commented on #53
@nuno-tiago-reis I think I have fixed the issue, can you please upgrade to the latest version (npm i -S ng-block-ui@next) and see if that fixes your issue?

[2020-01-07 10:06] geiregjo commented on #111
I'm using 3.0.0.

[2020-01-21 18:43] kuuurt13 commented on #111
@geiregjo sorry for the delay but I looked into this and I think I might have found the issue you are running into. I will try to roll out a fix tonight.

[2020-01-22 01:20] kuuurt13 commented on #111
@geiregjo I have release a new version (`3.0.0-beta.3`) which should fix the issue you are seeing. You should now be able to call the `update` method for the `BlockUIService`. See this the below example and let me know if that works.

Install: `npm install -S ng-block-ui@next`

Example: https://stackblitz.com/edit/block-ui-service-update

[2020-01-22 13:02] nuno-tiago-reis commented on #53
It doesn't happen anymore, but block UI seems to stick around forever.
I've downgraded to 2.1.8 right now since I don't have the time to investigate if there's something I did wrong.

[2020-01-22 15:08] kuuurt13 commented on #53
Okay, well if you do upgrade again and have issues feel free to open another issue with the details.

[2020-01-22 15:08] #53 closed

[2020-01-27 22:21] wkjesus opened #115 "ng-block-ui error ivy enable angular 8"
i am actually testing a migrate project to angular 8.x, with ivy enable, and when run the server
on browsers console, i get this error:

ng-block-ui: TypeError: Cannot read property 'localName' of null
    at ng-block-ui.js:878
    at Array.find (<anonymous>)
    at BlockUIDirective.push../node_modules/ng-block-ui/__ivy_ngcc__/fesm5/ng-block-ui.js.BlockUIDirective.findContentNode (ng-block-ui.js:8

[2020-01-28 20:27] kuuurt13 commented on #115
@wkjesus thanks for reporting. I will take a look and see what is going on here.

[2020-01-29 13:57] nagiramadan opened #116 "Issue request inside request"
I set blockAllRequestsInProgress to true.
 In case of send request in subscribe of another one .(nested requests), it show block ui only in the first one only and then disappear.

[2020-01-29 14:22] kuuurt13 commented on #116
Can you please provide what version you are using and fork the below example to provide a recreation of the issue, thanks.

https://stackblitz.com/edit/github-papcjf-xqclyj

[2020-01-30 15:31] chadkuehn opened #117 "Angular 8 BlockUI error when trying to block an individual element"
Seems to be related to opening the component in a MatDialog.

[code]
No IntelliSense errors in the template but when the component opens it busts.  I get the error even if nothing is defined in the corresponding component.ts file.

[code]

Angular: 8.2.14
opted into Ivy
BlockUIModule.forRoot() as an import in my module.

[2020-01-31 00:32] kuuurt13 commented on #115
@wkjesus I think I have fixed this issue and using the ivy renderer should now be supported. Can you please install the latest beta version and give it a shot.

`npm install ng-block-ui@next`

[2020-01-31 00:37] kuuurt13 commented on #117
@chadkuehn  I think this has to do with having ivy enbaled. I have made some fixes and the ivy renderer should now be supported. Can you please install the latest beta version and give it a shot.

`npm install ng-block-ui@next`

[2020-01-31 17:33] chadkuehn commented on #117
Fantastic.  It works now.  Thanks for the quick response.

[2020-01-31 17:33] #117 closed

[2020-01-31 19:56] wkjesus commented on #115
Thx for reply, but unfortunately, still have the same consolo error !  :(

i test on crhome, firefox and edge(chromium) and get same result.
this is the component on package json:

"dependencies": {
    "@angular/animations": "8.2.14",
    "@angular/cdk": "8.2.3",
    "@angular/common": "8.2.14",
    "@angular/compiler": "8.2.14",
    "@angular/core": "8.2.14",
    "@angular/forms": "8.2.14",

[2020-01-31 20:18] kuuurt13 commented on #115
@wkjesus thanks for the details. Looking at your package json it shows that you have`"ng-block-ui": "^3.0.0-beta.3"` installed and not the latest version that I have published to fix the issue. Did you run the command in my previous comment (`npm install ng-block-ui@next`) because the latest version is `3.0.0-beta.4`?

[2020-01-31 20:25] wkjesus commented on #115
Sure, i execute the command by the way, i think my proxy in the work, not download beta.4 ,  but
now i donwloaded manually, and i have to thanks.. the issue is gone, and have a functionally block-ui, on
ivy running, thx for your amazing time, and amazing plugin.

[2020-01-31 20:28] kuuurt13 commented on #115
Great, good to hear it is working! 👍

[2020-01-31 20:28] #115 closed

[2020-02-03 16:45] cybercussion commented on #54
I was getting a lot of errors related to it not finding BlockUIInstanceService, I had to do effectively:

[code]

Case it helps anyone.

[2020-02-04 20:12] fallenreaper opened #118 "Add a Sample for Injecting ng-block-ui into component tests?"
Big fan of the product.   I was writing some tests though, and i am failing my tests.
 I thought the easy way to do is to make a mock provider for the classes for testing, but it seems that is not the right way.  I was curious what _is_ the right way.

[code]

I end up getting: _ Can't resolve 'ng-block-ui/services/block-ui-instance.service'_
I figured I am doing something wrong here, but when loo

[2020-02-10 12:01] parthdevloper commented on #16
Your **plunker link** isn't working... Please Update

[2020-02-11 17:27] kuuurt13 commented on #16
@parthdevloper unfortunately plunker is no longer reliable but all the code is there for overriding styles in the plunker `style.css` file. That being said here is a [stackblitz](https://stackblitz.com/edit/ng-block-ui-global-styles?embed=1&file=src/styles.css) with the same code copied over.

[2020-02-12 17:03] kuuurt13 commented on #118
@fallenreaper sorry for the late reply. So I'm not 100% sure what you are trying to test but it seems like you want to see if `BlockUIService` is being called. If that is the case, I think adding a spy would be the best way. Take a look below and let me know if this helps. If this isn't what you are looking for just let me know and I can try to provide another example.

### AppComponent
[code]

##

[2020-02-12 17:48] fallenreaper commented on #118
When running tests, the block service causes my tests to fail due to
dependency issues I think.  I'm withdrawn from that dev Branch as I fix
other issues.  If you can set up a sample of how to handle  ng-block-ui in
tests it will work.

On Wed, Feb 12, 2020, 12:03 kuuurt13 <notifications@github.com> wrote:

[2020-02-12 18:10] kuuurt13 commented on #118
@fallenreaper in response to `"If you can set up a sample of how to handle  ng-block-ui in
tests it will work."`, I have provided a sample above in my previous comment that is a working test, is that not what you wanted? I'm not sure what else I can do without knowing what exactly you are trying to test. All you have provided is your test module and it looks like you are trying to mock out both th

[2020-02-12 18:38] fallenreaper commented on #118
No I think you're good.  I'll take a look at the tests and get back to you
if there are any issues.  Thanks as always!

On Wed, Feb 12, 2020, 13:10 kuuurt13 <notifications@github.com> wrote:

[2020-02-16 18:06] mobh13 opened #119 "cannot use the block ui in ngOnInit()"
I need to block my UI while I'm loading the data using sync but it seems that it is not working, I can confirm that when I use any sync code it dose not work.

[code]

[2020-02-16 20:08] kuuurt13 commented on #119
@mobh13 I don't ever see you call `this.blockUI.start()` in your `ngOnInit()` method.

[2020-02-17 13:14] JulienOuvrard opened #120 "error when starting BlockUIService in ngOnInit"
I'm currently trying to upgrade my application to Angular 9 and when starting the ng-block-ui service in an ngOnInit hook i get this error in my console:

[code]

BlockUIModule.forRoot() declared at top level module.
The BlockUIDirective is used in my RootComponent.

Config:

- Angular: 9.0.1
- ng-block-ui: 3.0.0-beta.4

My suggestion is that this code:
[code]

can be changed to

[code]

I did not

[2020-02-17 13:37] JulienOuvrard commented on #120
FYI:
When compiling with target es5 (my application have to be IE11 friendly) the portion of code i suggest to change is compiled to :
[code]
and with my suggestion:
[code]

children is always valued.

[2020-02-18 06:39] mobh13 commented on #119
it seems that I deleted it in this snippet but I added it and it is the same

[2020-02-19 00:37] kuuurt13 commented on #120
@JulienOuvrard thanks for the details. I actually had a fix for this in my local working branch but didn't get it rolled out in `beta.4`. I have since added a fix and published `3.0.0-beta.5` please install and let me know if you have any issues (`npm i ng-block-ui@next`)

[2020-02-19 00:39] kuuurt13 commented on #119
@mobh13 this looks like it might be related to #120. Can you please try updating to `3.0.0-beta.5` and let me know if it fixes your error (`npm i -S ng-block-ui@next`)

[2020-02-19 09:49] JulienOuvrard commented on #120
@kuuurt13 with the 3.0.0-beta.5 the error is gone.

I was getting another error:
[code]
with this markup directly inside my root.component.html:
[code]

I was able to fixed it by wrapping a `div` arround the blockUI directive
[code]

[2020-02-20 14:00] kuuurt13 commented on #120
@JulienOuvrard good to hear that it fixed your initial error.

As for the issue with the directive in your root component, I have tried to replicate the error but can't seem to be able to. I have created a new Angular 9 app with the cli and I have added the directive to the outermost `div` in my root component and everything seems to run fine (see below). I also tested in `IE 11` and didn't run in

[2020-02-22 16:50] westor21 commented on #120
I'm having the same issue:

Here is my code with the wrqapping div, which is working:

[code]
controller:

[code]
Without the wrapping div I get this:
[code]
children is undefined here:

![image](https://user-images.githubusercontent.com/1253973/75096049-a2edb280-559b-11ea-9c92-0a1c51919b14.png)

[2020-02-25 12:50] meusburger opened #122 "Angular 9.x Support"
Hello guys, any prevision to work with the angular 9.x?

[2020-02-25 13:35] kuuurt13 commented on #114
Closing due to inactivity. Feel free to open back up if needed.

[2020-02-25 13:35] #114 closed

[2020-02-26 00:47] kuuurt13 commented on #120
@westor21 thanks for all the info! I was able to reproduce your issue and I believe I have a fix. Please install the latest beta (`3.0.0-beta.6`) and let me know if it fixed your issues.

[2020-02-26 07:21] JulienOuvrard commented on #120
@kuuurt13 Unfortunately, I was not able to reproduce either with the minimal repo, and I cannot make you see the actual code of my application because it contains some sensitive data of my client.

All I can say is that, as @westor21 has shown, i have a dynamic div juste before my ngBlockUi directive.

Waiting for beta.6 actively to test it 😃

[2020-02-26 16:08] kuuurt13 commented on #120
@JulienOuvrard not sure if you saw my comment above, `3.0.0-beta.6` has been released (`npm i ng-block-ui@next`)

[2020-02-26 16:18] JulienOuvrard commented on #120
@kuuurt13 I realized my mistake just after replying, i will test the beta.6 asap 😉

[2020-02-27 12:43] teland94 commented on #122
, it's not work in Angular 9

[2020-03-03 05:54] MichalJakubeczy opened #123 "Scope only for given component"
I have multiple components of the same type on a page where following *blockUI attribute is defined.
`<table *blockUI="'results-table'">`

In the ts file I reference BlockUI like this:
`@BlockUI('results-table') public blocker: NgBlockUI;`

The problem is that when I trigger
`blocker.start('Please wait')`

All of components become 'busy' (because of the same identifier). But I need to make busy on

[2020-03-05 01:54] kuuurt13 commented on #123
@MichalJakubeczy currently there isn't anything built into the library to only target a current instance but if I am following you correctly this can be achieved with a small amount of code. See the below example and let me know if this works for what you are trying to do.

https://stackblitz.com/edit/ng-block-ui-unique-block-name?embed=1&file=src/app/custom-table/custom-table.component.ts

[2020-03-05 01:59] kuuurt13 commented on #116
Closing this for now. Feel free to open again with more info or an example, thanks

[2020-03-05 01:59] #116 closed

[2020-03-05 07:53] MichalJakubeczy commented on #123
@kuuurt13 thanks for an example. Yes, this helps, thanks, you can close the issue/question.

Anyway, do you plan to integrate targetting only a current instance?

[2020-03-06 18:00] kuuurt13 commented on #123
@MichalJakubeczy, this seems like a semi common use case for the library so I think this is something we could add.

I'm thinking maybe we could add a second parameter to the decorator and we could have a setting that when set to `true` would "scope" it to that instance. Then in the template, you would pass the name to the  `blockUI` decorator so the correct instance is targeted. I think this shou

[2020-03-09 06:48] MichalJakubeczy commented on #123
@kuuurt13 yes, this would definitely help. What does the `table` exactly mean in the first parameter of a decorator? Is it element name?

Also it would be great to be still able to define a name for the component like this:

**Template**
[code]

**Component**
[code]

But if it means more work also your proposed solution is fine.

[2020-03-12 14:03] mbaric1 opened #124 "ng-block-ui gets stuck and never stops loading/blocking"
Hi
Found an issue where ng-block-ui gets stuck. Happens when I am changing tabs on the view.

1. First tab, gets the data from http and stops loading
2. Change to second tab, gets data from http and stop loading
3. Back to the first tab, gets data, loading and never stops

Also noticed that sometimes loading is applied to wrong elements.

I'll be able to create stackblitz soon.

[code]

Thanks!

[2020-03-13 18:43] kuuurt13 commented on #123
@MichalJakubeczy `table` (or in your example `results-table`) is the name for blockUI to target when dispatching the start/stop events. So when you call `this.blockUI.start()` it will dispatch a start event targeting `table`. Any blockUI directives that are passed `table` as its name (in any template) will then start blocking (`*blockUI="'table'"`). The reason you ran into your issue is that all y

[2020-03-16 13:37] mbaric1 commented on #124
@kuuurt13
Providing simple repo https://stackblitz.com/edit/angular-789rd3
To reproduce bug quickly navigate between these tab1 and tab2, when you return to tab1 loading will be stuck. I am not sure, but seems that NgBlockUI Instance is not destroyed with component.

[2020-03-17 21:29] kuuurt13 commented on #124
@mbaric1 thank you so much for creating a stackblitz for your issue, I really appreciate it!

I took a look at your example and one thing that you can currently do to fix your issue is to call `this.blockUIList.reset()` instead of `this.blockUIList.stop()`. By calling reset it will clear blocking regardless of how many times start was called.

With that being said you are 100% correct, I don't thi

[2020-03-17 22:50] mbaric1 commented on #124
No problem, thanks for quick response.

Wanted to mention that same thing is happening when using service, might be good idea to clean up service instance as well as directive.

[2020-03-18 00:58] kuuurt13 commented on #124
@mbaric1 I have added the fix and rolled out `3.0.0-beta.7`. I have forked your stackblitz and updated to use the latest beta and it looks like it fixes the issue. Feel free to test it out and let me know if everything is working for you.
https://stackblitz.com/edit/angular-1ep8kb?embed=1&file=src/app/tab1/tab1.component.ts

[2020-03-18 21:58] mbaric1 commented on #124
Thanks a lot. Can confirm that it is working now.

[2020-03-18 21:58] #124 closed

[2020-03-30 07:51] MichalJakubeczy commented on #123
@kuuurt13 yes, that's great. Thanks a lot. When do you plan to release 3.0.0 (will it be Angular 9 compatible)?

[2020-04-21 07:46] joboyx opened #126 "`blockAllRequestsInProgress` option for BlockUIHttpModule does not block 2nd HTTP request for sequential requests"
INFO:
* affected version: 2.1.1 and 2.1.8

----

From the parameter name `blockAllRequestsInProgress`, user expects that this will block all HTTP calls regardless if there are called in parallel or sequentially.

However in our app, there are instances where in if there are 2 consecutive HTTP requests (usually blocked by await) the first request gets blocked, but the 2nd request is not blocked.

A

[2020-04-21 14:18] kuuurt13 commented on #126
@joboyx thanks for all the info! Have you tried updating to the `3.0.0-beta` to see if this fixes the issue (`npm i ng-block-ui@next`)?

[2020-04-21 18:00] kuuurt13 commented on #126
@joboyx I just wanted to follow up my last comment with these 2 stackblitz projects. I created 2 different scenarios, one with parallel requests and the other with nested requests. I ended up creating these using `ng-block-ui@2.1.8` and I can't seem to reproduce the issue. If you could fork these to reproduce your issue, then I might be able to help.

https://stackblitz.com/edit/github-http-nested

[2020-04-22 02:57] joboyx commented on #126
Thanks for those test projects, didn't know we can do that. :)

Here, I forked your stackblitz project and was able to reproduce the issue:

Issue occurs with Promise with await/async.

[2020-04-22 13:52] kuuurt13 commented on #126
@joboyx thanks for the example. So I forked your stackblitz and updated ng-block-ui to use the `3.0.0-beta` and it fixes the issue https://stackblitz.com/edit/ng-block-ui-issue-126?file=src/app/app.component.ts

Over the lifespan of the library, I have had a few PR come in that fixed someones specific issue but broke other edge cases so in `3.0.0` I have completely rewritten the block queuing to e

[2020-04-27 15:46] EdwardEndovickiy commented on #122
`npm install ng-block-ui@next` - This version works with ng 9

[2020-04-29 02:49] joboyx commented on #126
Thanks upgrading to 3.X fixed my issue. Here's the update stackblitz project with all of my use cases working with 8.X -- https://stackblitz.com/edit/ng-block-ui-issue-126-axsq2v

Just want to note that to make it work both for Promise and Observers I need to set `blockAllRequestsInProgress` to `true`. Setting this to `false` will have the same issue with 2.1.8.

----

However, if I apply the chan

[2020-04-30 13:17] plevko opened #127 "Component calling multiple directive start/stop requests wont stop loading on second load"
Hello,
I found this issue, when I am using  ng block ui directive in routed component and I have to call multiple times start/stop methods and need to navigate in/out of the component.
It behaves correctly, while I am still in the component, but it looks like that the blockCount is incorrect when I go back to component.

Stackblitz:
https://stackblitz.com/edit/angular-7tprvv

Step to reproduce:
1.

[2020-04-30 13:35] kuuurt13 commented on #127
Thanks for the example @plevko! I will take a look at this and see what is going on.

[2020-04-30 15:12] kuuurt13 commented on #126
Thanks for the additonal info. Let me keep looking into this, thanks.

[2020-04-30 21:20] cesaric commented on #127
I've been fighting this for the past couple days too on 3.0.0-beta.7.

The **blockCount**  increments up with every blockUI.start().  You need to consecutively blockUI.stop() at least that many times to get it to stop.  blockUI.reset() will stop it absolutely but it ends up stopping any other blockUI instances on the component regardless of the name/instance passed.

When you leave the component a

[2020-04-30 21:47] kuuurt13 commented on #127
@plevko I have made a few changes and published `3.0.0-beta.8`. I have forked your [stackblitz](https://stackblitz.com/edit/angular-cnibfn) using the newest beta and it looks like it fixes the issue that you reported. Can you give that a shot and let me know if it works for you, thanks.

[2020-04-30 22:04] kuuurt13 commented on #127
@cesaric you are correct `stop` needs to be called the same amount of times as `start`. It is designed this way so if you were to call `start` in 2 different sections or services of the app that it would `stop` once both sections/services have called `stop`. `reset` is designed to stop blocking regardless the amount of times `start` is called to get around this. If `reset` is stopping all other in

[2020-05-01 00:02] cesaric commented on #127
@kuuurt13  thanks for the explanation on the multiple start/stops.  I completely see why that would be useful.  I just tested `3.0.0-beta.8` in my own app and the start/stop issue is completely fixed when you toggle the view/visibility of the component.  Note that the `blockCount` is always zero though (would be useful to know that count in some cases).

The `reset` still appears to be stopping al

[2020-05-01 07:51] plevko commented on #127
wow, that was really prompt FIX. I can confirm that it works also in my case :) Thank you very much for this amazing support! 👍

[2020-05-01 20:06] kuuurt13 commented on #127
@cesaric thanks for providing the stackblitz, I really appreciate it! After looking at your code, I found out why `scopeToInstance` is not working for you. When you use that setting you need to pass the instance name `*blockUI="block1.name"` to the directive so it can be targeted correctly.

I have also fixed the issue with `reset` clearing blocking for all instances and rolled out `3.0.0-beta.9`.

[2020-05-06 05:40] dillibk777 opened #128 "Not working in case of dialogs"
Hi it is really awesome, but only issue im facing is it showing the overlay in case of dialogs, im using mat dialogs.

[2020-05-06 13:38] kuuurt13 commented on #128
@dillibk777 can you give me more info? Is the issue that the blocking should only be covering the dialog box or is it that dialog is showing above the blocking overlay or is an error being thrown? I can't really help without some details of the issue.

Can you please provide more details and if possible please provide an example of this issue by forking this [stackblitz](https://stackblitz.com/edi

[2020-05-08 21:03] kuuurt13 commented on #126
@joboyx so after doing a bunch of testing, I think I have fixed the issue you are seeing. I have released a new version (`3.0.0-beta.10`) with these changes. I have also forked your stackblitz and upgraded to the latest beta and it looks like everything is working, [see here](https://stackblitz.com/edit/ng-block-ui-issue-16-d8y6uf?file=src/app/app.component.ts).

Take a look and let me know if thi

[2020-05-18 03:10] joboyx commented on #126
@kuuurt13, I've tested `3.0.0-beta.10` in our code and it fixed the specific scenario I mentioned here -- https://github.com/kuuurt13/ng-block-ui/issues/126#issuecomment-620962382 -- which is my blocker to update to this version in our code. I've integrated this version in our code and pushed to testing.

Thanks for the effort on fixing this! Really appreciate it. It's my first time to have an int

[2020-05-18 03:16] joboyx commented on #126
Just one more thing. This parameter -- `blockAllRequestsInProgress` is currently set to false in our `app.module.ts`. It would be good to clarify what's the purpose of this flag in the documentation? Take not that changing this value also changed the behavior of the bug.

[2020-05-19 21:44] kuuurt13 commented on #126
@joboyx I'm glad it fixed your issue. Thanks for providing so many details for your issue, it helped a lot!

As for `blockAllRequestsInProgress`, there already are docs for this that are linked to from the main docs page, [see here](https://github.com/kuuurt13/ng-block-ui/blob/master/docs/http-module.md#setting-blockallrequestsinprogress). The reason this setting exists was because it was added to

[2020-05-20 07:14] joboyx commented on #126
Hmm okay. But just want you to note that I've still encountered a scenario where some requests are still ongoing but block-ui already unblocked if `blockAllRequestsInProgress` is set to `true`. And setting it to `false` resulted to the behavior where UI will block until all reqeusts are finished (which is the opposite of the config name).

Sorry, but I won't be able to give you the specific scenar

[2020-05-20 14:07] kuuurt13 commented on #126
@joboyx if you can pinpoint and reproduce the issue where this happening feel free to share and I can take a look. As for that setting, from my testing it seems to be working as designed. I created a comprehensive example [here](https://stackblitz.com/edit/ng-block-ui-issue-126-ckq3qk?file=src%2Fapp%2Fapp.module.ts) that shows how it is working. Feel free to change the setting and see how it impac

[2020-05-28 09:50] joboyx commented on #126
Found another issue in `v3.0.0-beta.10`. `requestFilters: [urlFilter]` is not taking effect. All URLs are still being blocked.

[code]
See this stackblitz project -- https://stackblitz.com/edit/ng-block-ui-issue-126-request-filter

Take note that when running the project in stackblitz -- the issue does NOT happen, as expected, no block-ui is happening.

But if you download the project and run loca

[2020-05-28 13:28] kuuurt13 commented on #126
If it is only happening locally then it might be an issue with Angular's compiler since I think stackblitz serves Angular apps differently. I looked real quick locally and it looks like `requestFilters` is not even coming through via the settings in your example so let me take a look and see why Angular removes it when compiling.

[2020-05-28 20:20] kuuurt13 commented on #126
@joboyx it looks like there was an issue with how Angular was handling values passed to `BlockUIHttpModule.forRoot()`. It looks like during compilation it is was handling `useValue` differently. I'm guessing StackBlitz must do something different than when you run it locally. Anyway, I have made an update and it should work the same no matter if ran in StackBlitz or locally. Please install `beta.1

[2020-05-29 00:12] joboyx commented on #126
`3.0.0-beta.11` fixed the issue on `requestFilters` option! Thanks for the quick turnaround on this.

Btw, the issue I mentioned with `blockAllRequestsInProgress`. With the latest version, I need to set the value of `blockAllRequestsInProgress` to `true` now. To prevent the blinking of blockUi component between requests. So this option now behaves as expected. Also understand that this is now the

[2020-06-01 13:59] kuuurt13 commented on #126
Great, good to hear! Going to close this then. Thanks again for providing all these details/examples to help me reproduce the issue.

[2020-06-01 13:59] #126 closed

[2020-06-01 13:59] kuuurt13 commented on #128
Closing due to inactivity.

[2020-06-01 13:59] #128 closed

[2020-06-01 14:00] kuuurt13 commented on #127
This looks to be working now so I am going to close. Feel free to open an issue if you are still running into problems.

[2020-06-01 14:00] #127 closed

[2020-06-01 14:02] #118 closed

[2020-06-26 16:09] #111 closed

[2020-06-26 16:14] kuuurt13 commented on #123
Fixed by #113

[2020-06-26 16:14] #123 closed

[2020-06-26 16:14] kuuurt13 commented on #122
Fixed by #113

[2020-06-26 16:14] #122 closed

[2020-06-26 16:15] kuuurt13 commented on #120
Fixed by #113

[2020-06-26 16:15] #120 closed

[2020-06-26 16:15] kuuurt13 commented on #119
Fixed by #113

[2020-06-26 16:15] #119 closed

[2020-07-15 07:40] martinko94 opened #136 "Library broken with Angular v10: `ModuleWithProviders<T>` requires type argument"
The type argument was made mandatory for ModuleWithProviders in Angular10. (This was documented as a breaking change.)

In certain cases, ngcc (the Angular Compatibility Compiler) is able to infer the type parameter, but not when used for an arbitrary type. ng-block-ui.module.ts uses ModuleWithProviders without a type argument, which causes a build error when building against Angular v10.

To avoi

[2020-07-15 14:17] kuuurt13 commented on #136
@martinko94  I have published `3.0.2` with a fix. Please give that a shot and let me know if it fixes your issue.

[2020-07-27 11:29] tmtron commented on #128
works for me: see my [StackBlitz example](https://stackblitz.com/edit/ng-block-ui-ng-mat-dialog)

[2020-07-29 12:45] tmtron opened #138 "[Question]: can we dynamically update the template?"
In our use-case we have 2 very different templates for blocking the UI:

1. during loading - we just show a loading spinner
2. when an error has occurred: we show a reload icon + message and the user can click on the template to retry

The current issue, is that we found no way to change the template once it has been assigned.
Did we miss something?

Our workaround for now is to have only on compo

[2020-07-29 14:18] kuuurt13 commented on #138
@tmtron this currently isn't possible because the template is only set on `ngAfterViewInit`. With that being said I think it should be possible to also update during `ngOnChanges`. Let me take a look and see if I can make this change.

[2020-07-29 14:42] tmtron commented on #138
Okay - never mind. I think I can live with one template and config parameters.  Feel free to close this.

If you really want to add this feature it may be convenient to pass the template component in the `start()` function

[2020-09-01 19:54] jean-merelis opened #139 "[Feature request] BlockUI should get the focus to prevent user interaction on blocked elements"
I believe that using cdkTrapFocus solves this issue

https://github.com/angular/components/blob/master/src/cdk/a11y/focus-trap/focus-trap.md

[2020-09-02 17:32] elion commented on #82
It is possible to override the style rules in styles.css.

[2020-09-02 17:40] kuuurt13 commented on #82
@elion please see the examples in the README https://github.com/kuuurt13/ng-block-ui#blockui-custom-spinner-styles---stackblitz

[2020-10-20 15:25] albetoetecnia opened #140 "Type Erro generating Build"
Hi,

I'm getting this error when I'm trying to generate prod build:

ERROR in ./node_modules/ng-block-ui/fesm5/ng-block-ui.js
Module build failed: TypeError: Cannot read property 'kind' of undefined at isAngularDecoratorMetadataExpression

Any idea to generate without errors?
Thanks!

[2020-10-21 13:19] kuuurt13 commented on #140
@albetoetecnia can you give me more info like what version of ng-block-ui and Angular you are using?

[2020-12-22 16:04] suhailk4 opened #142 "Interceptor of BlockUIHttpModule runs before Angular's interceptor"
Interceptor of BlockUIhttpModule should be configured according to user and should run after Interceptor in AppModule

[2020-12-22 16:05] suhailk4 commented on #142
@kuuurt13

[2020-12-23 18:42] kuuurt13 commented on #142
@suhailk4 I'm not sure if I am following you. Can you give me more information on this? Either a code snippet or maybe go into more detail on what issue you are seeing because of this?

[2020-12-24 04:03] suhailk4 commented on #142
i believe blockUIHttp Interceptor is executing before AppModules Interceptor that we create so when request goes through App Modules interceptor and if  sometimes (so if block-ui is stopped and we are facing token expiration and want to retry request ) then
block-ui doesn't go through block-ui httpinterceptor

[2020-12-24 05:59] #142 closed

[2021-01-13 11:06] gsilvap commented on #140
Hello @kuuurt13 ,

I have a similar issue
`ERROR in ./node_modules/ng-block-ui/fesm5/ng-block-ui.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression (C:\GIT\NinasteelPricingConsole\node_modules\@angular-devkit\build-optimizer\src\transforms

[2021-01-13 14:28] kuuurt13 commented on #140
@gsilvap it looks like you are using `Angular 6` which is a very old version of Angular. If you can't upgrade Angular then you might want to downgrade `ng-block-ui` to version `2.x.x` and see if that fixes your issue.

[2021-01-20 14:34] dennitorf opened #143 "Can't bind to 'blockUI' since it isn't a known property of 'div'"
Hi, I am trying to use the Block UI Directive in order to block only only div, but I am getting  this:

Can't bind to 'blockUI' since it isn't a known property of 'div'

Angular v 10

Any suggestion?

With best regards, Denny.

[2021-01-21 14:21] kuuurt13 commented on #143
@dennitorf can you share the following details:
* What version of `ng-block-ui` you are using?
* Is this error coming in your build or in the browser console?
* Can you show me a snippet of your code and how you are using the directive?

If you can include the above, I should have a better shot at helping. Just by looking at the error, it almost seems like the `BlockUIModule` isn't being included

[2021-01-21 14:23] dennitorf commented on #143
I did this for the app module, but, I am working in a sub module.

It is required do this for the submodule also?

[2021-01-24 20:59] kuuurt13 commented on #143
@dennitorf thanks for the details!

Yeah, if you are using it in a sub module then you need to include it so the sub module can resolve the library. Angular modules do not inherit any imports from the module they are imported in, from what I know. So in your instance you would need to include `BlockUIModule` (don't use `forRoot`) in your sub module. See this example for more info https://stackblit

[2021-02-12 13:07] GregoireLgt commented on #143
Hi,

I have the same error in the browser console when i try to apply *blockUI on a div which is inside a custom angular popover component

Any ideas ? Is it even possible to use blockUI inside a popover ?

Thx

[2021-02-12 18:48] #143 closed

[2021-03-17 01:28] #139 closed

[2021-03-26 18:06] MatDepInfo opened #148 "Need to set up instance name after initialization"
Hello,
I need to put a dynamic name to the blockUI instance.

Example in component:
[code]

Related to this template:

[code]

[2021-03-26 19:25] kuuurt13 commented on #148
@MatDepInfo for this you would want to use the `BlockUIService` (see [here in the docs](https://github.com/kuuurt13/ng-block-ui#blockuiservice) for more info). I have updated your example below and also included this [stackblitz](https://stackblitz.com/edit/github-issue-148?file=src/app/app.component.ts). Let me know if this answers your question.

[code]

[2021-04-06 07:13] MatDepInfo commented on #148
Thanks @kuuurt13, it is exactly what I was looking for. Sorry, I didn't see the service possibility. Have a nice day !

[2021-04-06 07:13] #148 closed

[2021-05-28 13:05] softdays opened #170 "Build error using {{ message }} insied template component"
Hi
First of all I would like to thank you for the work accomplished :pray:

I'm trying to use this part of the spec:

But I got the following build error using Angular 10:

[code]

Did I miss something?

Best regards

[2021-05-28 14:05] kuuurt13 commented on #170
@softdays if I had to guess it might have to do with not declaring message in your alert dialog component. Maybe do something like below and see if that works. If that doesn't work, can you share more of your code and I can try to help debug.

[code]

[2021-05-28 16:46] softdays commented on #170
Thanks it works as expected now 👍

[2021-05-28 16:46] #170 closed

[2021-07-16 14:52] AjaySingh10 opened #177 "Unable to start two loaders concurrently OnInit."
As per the scenario I'm working on, I need to start two loaders on two different div.
But the issue here is that the loader is only applied to the loader that was last started ignoring all the previous ones.
Is there any other workaround for the same?
Link to the issue - https://stackblitz.com/edit/github-wuybpg?file=src/app/app.component.ts

[2021-07-16 15:17] kuuurt13 commented on #177
@AjaySingh10 it looks like a timing issue with `ngOnInit`. Since you want to wait for the directives to be fully rendered you can use `ngAfterViewInit` and it should work, see this stackblitz https://stackblitz.com/edit/github-wuybpg-igwe7k?file=src/app/app.component.ts

[2021-07-16 17:21] AjaySingh10 commented on #177
That worked thank you for such a quick response.
Gratitude.

[2021-07-16 17:21] #177 closed

[2021-09-01 15:45] ganeshjangam opened #185 "Block only content area and not whole page"
Current behavior is its block whole page.
Can we block only specific area like content area and allow user to access menu-bar, side bar

[2021-09-02 15:42] kuuurt13 commented on #185
@ganeshjangam it's in the docs https://github.com/kuuurt13/ng-block-ui#block-ui-directive

[2021-09-02 15:42] #185 closed

[2021-09-02 15:45] kuuurt13 commented on #140
Closing, due to inactivity. Feel free to open a new issue if you still need help.

[2021-09-02 15:45] #140 closed

[2021-09-02 15:46] #138 closed

[2022-03-21 13:31] SwissKerim opened #208 "Processing legacy "View Engine" Upgrade to IVY"
Angular 13
ng serve
Generating browser application bundles (phase: setup)...Processing legacy "View Engine" libraries:
- ng-block-ui [main/umd] (git+https://github.com/kuuurt13/ng-block-ui.git)
- ng-block-ui/http [fesm5/esm5] (git+https://github.com/kuuurt13/ng-block-ui.git)

My general understanding is that "View Engine" is deprecated and will eventually be removed and "Ivy" is the new next-level

[2022-09-15 07:59] elion commented on #208
ngcc produces the following suggestion:

[code]